 <div class="form-signin form-style">
   <%= simple_form_for(@farm ,:class=> 'form-signin form-style')  do |f| %>
    <div class="form-group float-label-control">
    <%= f.input :crop_name,  as: :string, input_html: { class: "form-control" } %> 
  </div>
   <div class="form-group float-label-control">
    <%= f.input :farm_location,  as: :string, input_html: { class: "form-control" } %> 
  </div>
   <div class="form-group float-label-control">
    <%= f.input :month,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :duration,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :farm_size,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :crop_logo,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :amount,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :returns,  as: :string, input_html: { class: "form-control" } %> 
  </div>
  <div class="form-group float-label-control">
    <%= f.input :description,  as: :string, input_html: { class: "form-control" , rows: "4" } %> 
   
  </div>
  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

  </div>


    <div class="actions">
    <%= f.submit %>
  </div>                             
  <% end %>
 </div>

