<% if user_signed_in? %>

<%= simple_form_for(@make_transaction, :url =>{:controller => 'transactions', :action => 'contribute'},:class=>"form-signin form-style" )do |f| %>

<div class="form-group float-label-control">
	
	<%= f.input :customer_name, as: :string ,:as=> :hidden,input_html: { class: "form-control" , value: @customer_name.fullname  }%>
</div>
<div class="form-group float-label-control">
	<%= f.input :customer_mobile_number, label: "Customer Mobile Number", as: :string ,input_html: { class: "form-control" }%>
</div>
<div class="form-group float-label-control">
	<%= f.input :channel, label: "Mobile Network" ,collection: [['tigo-gh', 'TIGO'], ['mtn-gh', 'MTN'],['airtel-gh', 'AIRTEL'],['vodafone-gh', 'VODAFONE']], label_method: :second, value_method: :first,input_html: { class: "form-control" }%>
	
</div>
<div class="form-group float-label-control">
	<%= f.input :amount, label: "Amount", as: :string ,input_html: { class: "form-control" }%>
</div>
<div class="form-group float-label-control">
	<%= f.input :token, label: "Voucher Code (Vodafone Only-6 digits)", as: :string , input_html: { class: "form-control" }%>
</div>

<div class="form-group float-label-control">
    <%= f.input :farm_id, :as=> :hidden,input_html: {value: @farm_id } %>

 </div>
 <div class="form-group float-label-control">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id } %>

 </div> 

<div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

 </div>
 

<center>
	<%= f.button :submit,"Contribute", :class => 'btn btn-buy',:style=>"width:auto;" %>
	<br>
</center>
<%end%>

<%else%>
<p>
	Login before making payment
</p>
<div class="content-frame-footer">
	<p>
		Already have an account? <strong> <%= link_to "Log in", new_user_session_path,:class=>"text-color-4" %> </strong>
</div>
Or Sign up
<div class="content-frame-footer">
	<p>
		Dont have an account? <strong> <%= link_to "Sign up", new_user_registration_path,:class=>"text-color-4" %> </strong>

</div>
<% end %>
