<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="https://www.farmcrowdy.com/xmlrpc.php" />

		<title>Agripool</title>

		<!-- This site is optimized with the Yoast SEO plugin v6.1 - https://yoa.st/1yg?utm_content=6.1 -->
		<link rel="canonical" href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Maize Farm  Bole - Farmcrowdy" />
		<meta property="og:description" content="Maize also known as corn, is a large grain plant first domesticated by indigenous people in Mexico about 10,000 years ago. The six major types of corn are dent corn,..." />
		<meta property="og:url" content="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" />
		<meta property="og:site_name" content="Farmcrowdy" />
		<meta property="article:publisher" content="https://web.facebook.com/farmcrowdy?_rdr" />
		<meta property="og:image" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta property="og:image:secure_url" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta property="og:image:width" content="730" />
		<meta property="og:image:height" content="644" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Maize also known as corn, is a large grain plant first domesticated by indigenous people in Mexico about 10,000 years ago. The six major types of corn are dent corn,..." />
		<meta name="twitter:title" content="Maize Farm  Bole - Farmcrowdy" />
		<meta name="twitter:site" content="@farmcrowdy" />
		<meta name="twitter:image" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta name="twitter:creator" content="@farmcrowdy" />
		<script type='application/ld+json'>
			{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.farmcrowdy.com\/","name":"Farmcrowdy","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.farmcrowdy.com\/?s={search_term_string}","query-input":"required name=search_term_string"}
			}
		</script>
		<!-- / Yoast SEO plugin. -->

		<link rel='dns-prefetch' href='//maps.googleapis.com' />
		<link rel='dns-prefetch' href='//www.youtube.com' />
		<link rel='dns-prefetch' href='//connect.facebook.net' />
		<link rel='dns-prefetch' href='//fonts.googleapis.com' />
		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Feed" href="https://www.farmcrowdy.com/feed/" />
		<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Comments Feed" href="https://www.farmcrowdy.com/comments/feed/" />
		<link rel="shortcut icon" href="https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/images/favicon.ico?ver=1501577976" />
		<style type="text/css">
			img.wp-smiley, img.emoji {
				display: inline !important;
				border: none !important;
				box-shadow: none !important;
				height: 1em !important;
				width: 1em !important;
				margin: 0 .07em !important;
				vertical-align: -0.1em !important;
				background: none !important;
				padding: 0 !important;
			}
		</style>
		<link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
		<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
		<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
		<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
		<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
		<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>
		<script type='text/javascript'>
			/* <![CDATA[ */
			var crb_facebook_app_id = "1589396614690074";
			/* ]]> */
		</script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/socials-functions.js?ver=1507188885'></script>
		<link rel='https://api.w.org/' href='https://www.farmcrowdy.com/wp-json/' />
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.farmcrowdy.com/xmlrpc.php?rsd" />
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.farmcrowdy.com/wp-includes/wlwmanifest.xml" />
		<link rel='shortlink' href='https://www.farmcrowdy.com/?p=7637' />
		<link rel="alternate" type="application/json+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarm%2Fmaize-farm-kaduna%2F" />
		<link rel="alternate" type="text/xml+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarm%2Fmaize-farm-kaduna%2F&#038;format=xml" />
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-85036927-1', 'auto');
			ga('send', 'pageview');

		</script>

		<!-- Facebook Pixel Code -->
		<script>
			! function(f, b, e, v, n, t, s) {
				if (f.fbq)
					return;
				n = f.fbq = function() {
					n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
				};
				if (!f._fbq)
					f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = '2.0';
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s)
			}(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1848427765468575');
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1"
			src="https://www.facebook.com/tr?id=1848427765468575&ev=PageView
			&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
	</head>
	<body class="crb_farm-template-default single single-crb_farm postid-7637">
		<div class="wrapper">
			<header class="header">

				<div class="header-content">

					<nav class="nav">
						<a href="#" class="btn-menu"> <i class="ico-menu"></i> </a>
						<ul id="menu-main-menu" class="menu">

							<li id="menu-item-7403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7403">
								<%= link_to 'Home',root_path  %>
							</li>
							<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
								<a href="">FAQs</a>
							</li>
							<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
								<%= link_to 'Farms',farms_path  %>

							</li>

							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<a href="">Contact Us</a>
							</li>

							<% if user_signed_in? %>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<%= link_to 'Account' %>
							</li>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
							</li>
							<%else%>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">

								<%= link_to "Login", new_user_session_path %>

							</li>
							<%end%>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header-content -->
			</header><!-- /.header -->
			<div class="main main-farm">

				<div class="intro-farm" style="background-image: url(https://www.farmcrowdy.com/wp-content/uploads/2018/03/farmcrowdy-maize-background.jpg">
					<!-- <h2 class="intro-title">Maize Farm  Bole</h2> -->
				</div>

				<div class="shell">
					<div class="content content-secondary">
						<section class="section section-farm">

							<% @farm_details.each do |farm_detail| %>
							<div class="section-body">
								<div class="service">
									<div class="service-image">
										<%= link_to image_tag (farm_detail.crop_logo),:class=> "attachment-farm_list size-farm_list wp-post-image" %>

									</div>

									<div class="service-content">
										<div class="farm-options">
											<p class="single-price">
												<span>GHC <%= farm_detail.amount %></span> / <%= farm_detail.crop_name %> Unit
											</p>

											<ul class="list-options">
												<li>
													<i class="fa fa-shopping-basket fa-fw"></i>
													<strong><%= farm_detail.farm_size %></strong> of <%= farm_detail.crop_name %>
												</li>

												<li>
													<i class="fa fa-calendar fa-fw"></i>
													Contract Period : <strong><%= farm_detail.duration %></strong>
												</li>

												<li>
													<i class="fa fa-dollar fa-fw"></i>
													Expected Return : <strong><%= farm_detail.returns %> per <%= farm_detail.duration %></strong>
												</li>

											</ul>

											<div class="service-actions"> 
 
												<%= link_to 'Contribute Now',details_path(:id => farm_detail.id ),{:remote => true, :class =>"btn btn-buy",'data-toggle' =>  "modal",'data-target' => '#myModal2'} %></td>
															<!-- pay_path(:id => farm_detail.id ) -->
											</div><!-- /.service-actions -->
											<a href="#" class="link-simulator"><i class="fa fa-line-chart" style="font-weight: bold; font-size: 24px; color: #797979;"></i>View Profit Simulation</a>
										</div>
									</div><!-- /.service-content -->

								</div><!-- /.service -->
							</div><!-- /.section-body -->

							<div class="section-body simulator-body">
								<div class="simulator-shell simulator">
									<form action="" method="GET" class="simulator-form">
										<div class="form-controls">
											<label for="units">Enter the number of Maize Farm Units</label>
											<input type="number" value="1" class="field-number" id="units" name="units" />
										</div>

										<div class="form-actions">
											<input type="hidden" value="95000" id="price-per-unit" />
											<input type="hidden" value="12" id="expected-return" />
											<input type="submit" class="btn" value="Calculate">
										</div>
									</form>

									<p>
										Initial Investment: <strong>GHC <span id="initial">0</span></strong>
									</p>

									<div class="simulator-table">
										<table>
											<thead>
												<tr>
													<th>Period</th>
													<th>Net Profit</th>
													<th>ROI</th>
												</tr>
											</thead>
											<tbody>

												<tr>
													<td>10</td>
													<td>GHC <span id="profit">0</span></td>
													<td>12%</td>
												</tr>

												<tr>
													<td><strong>Payback</strong></td>
													<td><strong>GHC <span id="payback">0</span></strong></td>
													<td></td>
												</tr>
												<tr>
													<td><strong>Total</strong></td>
													<td><strong>GHC <span id="total">0</span></strong></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</section><!-- /.section -->

						<section class="section section-description">
							<div class="shell">
								<h3 class="section-title">Farm Description</h3><!-- /.section-title -->

								<p style="font-weight: 400;">
									<%= farm_detail.description %>

								</p>

							</div><!-- /.shell -->
						</section><!-- /.section -->
						<%end%>
					</div><!-- /.content -->

					<div class="sidebar sidebar-secondary">
						<ul class="widgets">
							<li class="widget widget-recent-entries">
								<div class="widget-head">
									<h3 class="widget-title">Other Farms That Could Interest You</h3><!-- /.widget-title -->
								</div><!-- /.widget-head -->

								<div class="widget-body">
									<ul class="projects">
										<% @farms.each do |farm| %>
										<li class="project project-secondary">
											<div class="project-image">

												<%= link_to image_tag (farm.crop_logo),:class=> "attachment-farm_list size-farm_list wp-post-image" %>
												<span> <%= link_to "NOW OPEN",details_path(:id => farm.id) %> </span>
											</div>

											<div class="project-content">
												<h5><%= farm.crop_name  %></h5>
												<span>GHC<%= farm.amount  %></span>

												<p>
													Returns <%= farm.returns %> per <%= farm.duration %>
												</p>
											</div><!-- /.project-content -->
										</li><!-- /.project -->
										<%end%>
									</ul><!-- /.projects -->
								</div><!-- /.widget-body -->
							</li><!-- /.widget -->
						</ul><!-- /.widgets -->
					</div>
				</div><!-- /.shell -->
			</div><!-- /.main -->

		</div><!-- /.wrapper -->

		<div  id="myModal2" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title"> Make Payment</h4>
					</div>
					<div class="modal-body" id = 'hey1'>
						<%= render "pay" %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>

			</div>
		</div>

		<link rel='stylesheet' id='gforms_reset_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formreset.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_browsers_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/browsers.min.css?ver=2.2.5' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/comment-reply.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/wp-embed.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=2.2.5'></script>

		<!-- Google Code for Remarketing Tag -->
		<!--------------------------------------------------
		Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
		--------------------------------------------------->
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 827170902;
			var google_custom_params = window.google_tag_params;
			var google_remarketing_only = true;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/827170902/?guid=ON&amp;script=0"/>
			</div>
		</noscript>

	</body>
	<script>
		'undefined' === typeof _trfq || (window._trfq = []);
		'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
			'tccl.baseHost' : 'secureserver.net'
		}), _trfd.push({
			'ap' : 'cpbh'
		}, {
			'server' : 'a2plvcpnl44859'
		}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
	</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</html>

