<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="https://www.farmcrowdy.com/xmlrpc.php" />

		<title>Agripool</title>

		<!-- This site is optimized with the Yoast SEO plugin v6.1 - https://yoa.st/1yg?utm_content=6.1 -->
		<meta name="description" content="Farms available for sponsorship include poultry, maize, soyabeans, rice &amp; cassava farms. Get bi-weekly updates and between 13% - 25% return on sponsorship"/>
		<link rel="canonical" href="https://www.farmcrowdy.com/farmshop/" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Farmshop - Farmcrowdy" />
		<meta property="og:description" content="Farms available for sponsorship include poultry, maize, soyabeans, rice &amp; cassava farms. Get bi-weekly updates and between 13% - 25% return on sponsorship" />
		<meta property="og:url" content="https://www.farmcrowdy.com/farmshop/" />
		<meta property="og:site_name" content="Farmcrowdy" />
		<meta property="article:publisher" content="https://web.facebook.com/farmcrowdy?_rdr" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Farms available for sponsorship include poultry, maize, soyabeans, rice &amp; cassava farms. Get bi-weekly updates and between 13% - 25% return on sponsorship" />
		<meta name="twitter:title" content="Farmshop - Farmcrowdy" />
		<meta name="twitter:site" content="@farmcrowdy" />
		<meta name="twitter:creator" content="@farmcrowdy" />
		<script type='application/ld+json'>
			{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.farmcrowdy.com\/","name":"Farmcrowdy","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.farmcrowdy.com\/?s={search_term_string}","query-input":"required name=search_term_string"}
			}
		</script>

		<link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
		<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
		<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
		<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
		<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
		<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>

		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/socials-functions.js?ver=1507188885'></script>
		<link rel='https://api.w.org/' href='https://www.farmcrowdy.com/wp-json/' />
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.farmcrowdy.com/xmlrpc.php?rsd" />
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.farmcrowdy.com/wp-includes/wlwmanifest.xml" />
		<link rel='shortlink' href='https://www.farmcrowdy.com/?p=32' />
		<link rel="alternate" type="application/json+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarmshop%2F" />
		<link rel="alternate" type="text/xml+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarmshop%2F&#038;format=xml" />

	</head>
	<body class="page-template page-template-templates page-template-farms page-template-templatesfarms-php page page-id-32">
		<div class="wrapper">
			<header class="header">
				<div class="header-bar">

					<div class="header-content">
						<!-- <a href="https://www.farmcrowdy.com/" class="logo">Agripool</a>

						<a href="https://www.farmcrowdy.com/" class="logo-small">Agripool</a> -->

						<nav class="nav">
						<a href="#" class="btn-menu"> <i class="ico-menu"></i> </a>
						<ul id="menu-main-menu" class="menu">

							<li id="menu-item-7403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7403">
								<%= link_to 'Home',root_path  %> 
							</li>
							<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
								<a href="">FAQs</a>
							</li>
							<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
							 <%= link_to 'Farms',farms_path  %> 
								
							</li>

							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<a href="">Contact Us</a>
							</li>

							<% if user_signed_in? %>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<%= link_to 'Account' %>
							</li>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
							</li>
							<%else%>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								
								<%= link_to "Login", new_user_session_path %>

							</li>
							<%end%>
						</ul>
					</nav><!-- /.nav -->
					</div><!-- /.header-content -->
			</header><!-- /.header -->

			<div class="main">
			
				<div class="shell">
					<section class="section section-projects">
						<p class="breadcrumbs">
							<span>Farms</span>
							
						</p><!-- /.breadcrumbs -->
						
						
						<div class="projects">
							<% @farms.each do |farm| %>
						<div class="project">
						   <div class="project-image">
						  
						   <%= link_to image_tag (farm.crop_logo),:class=> "attachment-farm_list size-farm_list wp-post-image" %>
						    <span> <%=link_to "NOW OPEN",details_path(:id => farm.id) %> </span> 
						    <!-- <span>NOW <BR><strong>OPEN</strong></span> -->
						   </div>
							
                			<div class="project-content">
                				
              				<h5><%= farm.crop_name  %></h5>
              				   <span>GHC<%= farm.amount  %></span>
  
              				 <p>Returns <%= farm.returns %> per <%= farm.duration %> </p>
              			 
              			</div>
              			<span class="project-overlay"> <%= link_to "Start here", details_path(:id => farm.id), :class=> "btn btn-green btn-green-small"%> </span>
         				
         				<br>
         				</div>
						<%end%>
						</div><!-- /.projects -->
					
					</section><!-- /.section -->
				</div><!-- /.shell -->
				
			</div><!-- /.main -->

		</div><!-- /.wrapper -->

		<!--Start of Tawk.to Script (0.3.3)-->

		<link rel='stylesheet' id='gforms_reset_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formreset.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_browsers_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/browsers.min.css?ver=2.2.5' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/comment-reply.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/wp-embed.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=2.2.5'></script>

		<!-- Google Code for Remarketing Tag -->
		<!--------------------------------------------------
		Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
		--------------------------------------------------->
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 827170902;
			var google_custom_params = window.google_tag_params;
			var google_remarketing_only = true;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/827170902/?guid=ON&amp;script=0"/>
			</div>
		</noscript>

	</body>
	<script>
		'undefined' === typeof _trfq || (window._trfq = []);
		'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
			'tccl.baseHost' : 'secureserver.net'
		}), _trfd.push({
			'ap' : 'cpbh'
		}, {
			'server' : 'a2plvcpnl44859'
		}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
	</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</html>