
<%= simple_form_for(@payment_state) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :transaction_id %>
    <%= f.input :response_code %>
    <%= f.input :amount_after_charges %>
    <%= f.input :client_reference %>
    <%= f.input :description %>
    <%= f.input :external_trans_id %>
    <%= f.input :amount %>
    <%= f.input :charges %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
