<p id="notice"><%= notice %></p>

<h1>Listing Payment States</h1>

<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Response code</th>
      <th>Amount after charges</th>
      <th>Client reference</th>
      <th>Description</th>
      <th>External trans</th>
      <th>Amount</th>
      <th>Charges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_states.each do |payment_state| %>
      <tr>
        <td><%= payment_state.transaction_id %></td>
        <td><%= payment_state.response_code %></td>
        <td><%= payment_state.amount_after_charges %></td>
        <td><%= payment_state.client_reference %></td>
        <td><%= payment_state.description %></td>
        <td><%= payment_state.external_trans_id %></td>
        <td><%= payment_state.amount %></td>
        <td><%= payment_state.charges %></td>
        <td><%= link_to 'Show', payment_state %></td>
        <td><%= link_to 'Edit', edit_payment_state_path(payment_state) %></td>
        <td><%= link_to 'Destroy', payment_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment state', new_payment_state_path %>
