<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @payment_state.transaction_id %>
</p>

<p>
  <strong>Response code:</strong>
  <%= @payment_state.response_code %>
</p>

<p>
  <strong>Amount after charges:</strong>
  <%= @payment_state.amount_after_charges %>
</p>

<p>
  <strong>Client reference:</strong>
  <%= @payment_state.client_reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment_state.description %>
</p>

<p>
  <strong>External trans:</strong>
  <%= @payment_state.external_trans_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment_state.amount %>
</p>

<p>
  <strong>Charges:</strong>
  <%= @payment_state.charges %>
</p>

<%= link_to 'Edit', edit_payment_state_path(@payment_state) %> |
<%= link_to 'Back', payment_states_path %>
