<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="https://www.farmcrowdy.com/xmlrpc.php" />

		<title>About Us</title>

		<!-- This site is optimized with the Yoast SEO plugin v6.1 - https://yoa.st/1yg?utm_content=6.1 -->
		<link rel="canonical" href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Maize Farm  Bole - Farmcrowdy" />
		<meta property="og:description" content="Maize also known as corn, is a large grain plant first domesticated by indigenous people in Mexico about 10,000 years ago. The six major types of corn are dent corn,..." />
		<meta property="og:url" content="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" />
		<meta property="og:site_name" content="Farmcrowdy" />
		<meta property="article:publisher" content="https://web.facebook.com/farmcrowdy?_rdr" />
		<meta property="og:image" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta property="og:image:secure_url" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta property="og:image:width" content="730" />
		<meta property="og:image:height" content="644" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="Maize also known as corn, is a large grain plant first domesticated by indigenous people in Mexico about 10,000 years ago. The six major types of corn are dent corn,..." />
		<meta name="twitter:title" content="Maize Farm  Bole - Farmcrowdy" />
		<meta name="twitter:site" content="@farmcrowdy" />
		<meta name="twitter:image" content="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg" />
		<meta name="twitter:creator" content="@farmcrowdy" />
		<script type='application/ld+json'>
			{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.farmcrowdy.com\/","name":"Farmcrowdy","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.farmcrowdy.com\/?s={search_term_string}","query-input":"required name=search_term_string"}
			}
		</script>
		<!-- / Yoast SEO plugin. -->

		<link rel='dns-prefetch' href='//maps.googleapis.com' />
		<link rel='dns-prefetch' href='//www.youtube.com' />
		<link rel='dns-prefetch' href='//connect.facebook.net' />
		<link rel='dns-prefetch' href='//fonts.googleapis.com' />
		<link rel='dns-prefetch' href='//s.w.org' />
		<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Feed" href="https://www.farmcrowdy.com/feed/" />
		<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Comments Feed" href="https://www.farmcrowdy.com/comments/feed/" />
		<link rel="shortcut icon" href="https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/images/favicon.ico?ver=1501577976" />
		<style type="text/css">
			img.wp-smiley, img.emoji {
				display: inline !important;
				border: none !important;
				box-shadow: none !important;
				height: 1em !important;
				width: 1em !important;
				margin: 0 .07em !important;
				vertical-align: -0.1em !important;
				background: none !important;
				padding: 0 !important;
			}
		</style>
		<link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
		<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
		<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
		<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
		<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
		<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>
		
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/socials-functions.js?ver=1507188885'></script>
		<link rel='https://api.w.org/' href='https://www.farmcrowdy.com/wp-json/' />
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.farmcrowdy.com/xmlrpc.php?rsd" />
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.farmcrowdy.com/wp-includes/wlwmanifest.xml" />
		<link rel='shortlink' href='https://www.farmcrowdy.com/?p=7637' />
		<link rel="alternate" type="application/json+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarm%2Fmaize-farm-kaduna%2F" />
		<link rel="alternate" type="text/xml+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2Ffarm%2Fmaize-farm-kaduna%2F&#038;format=xml" />
		
	</head>
	<body class="crb_farm-template-default single single-crb_farm postid-7637">
		<div class="wrapper">
			<header class="header">

				<div class="header-content">

					<nav class="nav">
						<a href="#" class="btn-menu"> <i class="ico-menu"></i> </a>
						<ul id="menu-main-menu" class="menu">

							<li id="menu-item-7403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7403">
								<%= link_to 'Home',root_path  %> 
							</li>
							<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
								<%= link_to 'The Process',process_path  %><a href="">FAQs</a>
							</li>
							<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
							 <%= link_to 'Farms',farms_path  %> 
								
							</li>

							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<a href="">Contact Us</a>
							</li>
							<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
								<%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header-content -->
			</header><!-- /.header -->
			<div class="main main-farm">

				

				<div class="shell">
					<div class="content content-secondary">
						<section class="section section-farm">

						

							
						</section><!-- /.section -->

						<section class="section section-description">
							<div class="shell">
								<h3 class="section-title">Agripool</h3><!-- /.section-title -->


								<p style="font-weight: 400;">
									
								AGRIPOOL is an individual, tech based, social crowd-farming service developed and managed by BlueCroft Farms. Our aim is to impact both directly and indirectly through diverse means and processes. Our process involves making agribusiness accessible and appealing to youths.
								</p>
								<!-- <p style="font-weight: 400;">
									The six major types of corn are dent corn, flint corn, pod corn, popcorn, flour corn, and sweet corn.
								</p>
								<p style="font-weight: 400;">
									<span style="font-weight: 400;">Maize farming and production is a high-potential business opportunity in Africa. Did you know that by planting just one seed of maize, you get over 500 kernels in return at harvest? That’s an incredible return on investment!</span>
								</p>
								<p style="font-weight: 400;">
									Maize is also one of the most common and important food crops across Africa. It is widely eaten in various forms and more than 900 million Africans depend on maize every year because it is often cheaper than rice and wheat, two of the other most consumed cereals.
								</p>
								<p style="font-weight: 400;">
									In fact, many of our daily diets contain maize either directly or indirectly. Production of meat, eggs and dairy products (like milk and yoghurt) would be difficult without maize, which is an important ingredient in animal feed.
								</p>
								<p style="font-weight: 400;">
									As Africa’s population continues to grow <span style="font-weight: 400;">rapidly over the coming years</span>, the demand and consumption of maize will increase.
								</p>
								<p style="font-weight: 400;">
									According to IITA estimates, about 800 million tons of maize is produced worldwide every year. Africa produces 6.5 percent of this volume which is still insufficient for local consumption.
								</p>
								<p style="font-weight: 400;">
									Ghana remains Africa’s largest producer with nearly 8 million tons produced per annum. It is closely followed by South Africa, Tanzania, Kenya, and Uganda. The United States remains the world’s largest producer with 42 percent of all maize produced globally.
								</p>
								<p>
									In this light, we have decided to grow our Maize farmers impact with 2,000 new maize farmers joining us in Pampaida,  Bole to work on 5,000 Acres of Maize farms in 2018 in partnership with key stakeholders like African Exchange Holdings. Welcome on board and let&#8217;s empower these farmers together.
								</p> -->
								<hr />
								<p>
									&nbsp;
								</p>
								<p>
									<strong>Our 4 Year Goals </strong>
								</p>

								• 	
•	
•	
•	
•	

								<p>
									1) Expose 100,000 youths between ages 18-35 to agriculture
								</p>
									<p>
									2) Create a livelihood for 2000 farmers and labourers
								</p>
									<p>
									3) Cultivate 15,000 acres of farmland
								</p>

									<p>
									4) Produce over 400,000 tons of produce
								</p>
									<p>
									5) Indirectly impact 5000 individuals
								</p>
								
							</div><!-- /.shell -->
						</section><!-- /.section -->

					</div><!-- /.content -->

					
				</div><!-- /.shell -->
			</div><!-- /.main -->

		</div><!-- /.wrapper -->

	

		<link rel='stylesheet' id='gforms_reset_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formreset.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=2.2.5' type='text/css' media='all' />
		<link rel='stylesheet' id='gforms_browsers_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/browsers.min.css?ver=2.2.5' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/comment-reply.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/wp-embed.min.js?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.2.5'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=2.2.5'></script>
