<div class="banner">
	<div class="container">
		<div class="w3_agile_banner_top">
			<div class="agile_phone_mail">
				<ul>
					<li>
						<i class="fa fa-phone" aria-hidden="true"></i>+(233)244000000
					</li>
					<li>
						<i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:Coalition@w3layouts.com">agripool@bluecroft.com</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="agileits_w3layouts_banner_nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html">Agripool</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li class="active">
								<%= link_to 'Home',root_path %>
							</li>
							<li>
								<%= link_to 'About Us',about_path %>
							</li>
							<li>

								<%= link_to 'The Process',process_path  %>
							</li>
							<li>
								<%= link_to 'Farms',farms_path %>

							</li>
							<% if user_signed_in? %>

							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <!-- <img alt="" src="images/2.png"> --> <span ><%= current_user.username %></span> <b class="caret"></b> </a>

								<ul class="dropdown-menu extended logout">
									<li>
										<%= link_to ' Check Account'.html_safe %>
									</li>
									<li>
										<%= link_to ' Edit Profile'.html_safe,edit_user_registration_path %>
									</li>
									<li>
										<%= link_to ' Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
									</li>

								</ul>
							</li>
							</li>
							<%else%>
							<li>
								<%= link_to "Login", new_user_session_path %>

							</li>
							<%end %>

						</ul>

					</nav>

				</div>
			</nav>
		</div>
		<div class="wthree_banner_info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<h3>WE FEED OURSELVES </h3>
							<p>
								Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
								<br>
								and share in the harvest.
							</p>

							<div class="agileits_more">
								<ul>
									<li>
										<!-- <a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a> -->
										<%= link_to 'How it works',process_path ,:class =>"w3ls_banner_more hvr-icon-hang" %>
									</li>
									<li>
										<%= link_to 'Farm now',farms_path ,:class =>"hvr-icon-hang" %>
										<!-- <a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a> -->
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3>WE FEED OURSELVES </h3>
							<p>
								Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
								<br>
								and share in the harvest.
							</p>

							<div class="agileits_more">
								<ul>
									<li>
										<%= link_to 'How it works',process_path ,:class =>"w3ls_banner_more hvr-icon-hang" %>
									</li>
									<li>
										<%= link_to 'Farm now',farms_path, :class =>"hvr-icon-hang"  %>
										<!-- <a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a> -->
									</li>
								</ul>
							</div>
						</li>
						<li>
							<h3>WE FEED OURSELVES</h3>
							<p>
								Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
								<br>
								and share in the harvest.
							</p>

							<div class="agileits_more">
								<ul>
									<li>
										<%= link_to 'How it works',process_path ,:class =>"w3ls_banner_more hvr-icon-hang" %>
									</li>
									<li>
										<%= link_to 'Farm now',farms_path ,:class =>"hvr-icon-hang" %>
										<!-- <a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a> -->
									</li>
								</ul>
							</div>
						</li>

					</ul>
				</div>
			</section>

		</div>
	</div>
</div>

<div class="section section-benefits">
	<div class="shell-wider">
		<h2 class="section-title">Our Aim</h2><!-- /.section-title -->

		<ul class="benefits">
			<li class="benefit">
				<div class="benefit-image">
					<img width="213" height="225" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5.png 213w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-31x33.png 31w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-57x60.png 57w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-114x120.png 114w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-47x50.png 47w" sizes="(max-width: 213px) 100vw, 213px" />
				</div><!-- /.benefit-image -->

				<div class="benefit-content">
					<h3 class="benefit-title">Create a sustainable farming system
					<br>
					</h3><!-- /.benefit-title -->

					<!-- <p> Highest standards of food safety.Reliable fresh produce all year round.Cost effective produce</p> -->
				</div><!-- /.benefit-content -->
			</li><!-- /.benefit -->
			<li class="benefit">
				<div class="benefit-image">
					<img width="160" height="228" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6.png 160w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-23x33.png 23w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-42x60.png 42w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-84x120.png 84w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-35x50.png 35w" sizes="(max-width: 160px) 100vw, 160px" />
				</div><!-- /.benefit-image -->

				<div class="benefit-content">
					<h3 class="benefit-title">Impact Farmers through Job Creation
					<br>
					</h3><!-- /.benefit-title -->

					<!-- <p> More sustained farming opportunity and an assured source of livelihood</p> -->
				</div><!-- /.benefit-content -->
			</li><!-- /.benefit -->
			<li class="benefit">
				<div class="benefit-image">
					<img width="207" height="181" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7.png 207w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-38x33.png 38w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-60x52.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-120x105.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-57x50.png 57w" sizes="(max-width: 207px) 100vw, 207px" />
				</div><!-- /.benefit-image -->

				<div class="benefit-content">
					<h3 class="benefit-title"> Increase overall food production
					<br />
					</h3><!-- /.benefit-title -->

					<!-- <p>Sustainable source of high quality. Low environmental impact.  Optimised water usage.
					</p> -->
				</div><!-- /.benefit-content -->
			</li><!-- /.benefit -->
			<li class="benefit">
				<div class="benefit-image">
					<img width="214" height="206" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8.png 214w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-34x33.png 34w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-60x58.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-120x116.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-52x50.png 52w" sizes="(max-width: 214px) 100vw, 214px" />
				</div><!-- /.benefit-image -->

				<div class="benefit-content">
					<h3 class="benefit-title"> Create a secure farming system with Youth involvement in Agriculture.
					<br />
					</h3><!-- /.benefit-title -->

					<!-- 								<p>A unique way to impact lives.Ease of access to profitable agricultural projects.Return on money
					</p> -->
				</div><!-- /.benefit-content -->
			</li><!-- /.benefit -->
		</ul><!-- /.benefits -->
	</div><!-- /.shell-wider -->
</div><!-- /.section -->

<section class="section section-projects-preview section-solid">
	<div class="shell-wider">
		<h2 class="section-title">Start your farm</h2><!-- /.section-title -->

		<ul class="projects">

			<% @farms.each do |farm| %>
			<div class="project">
				<div class="project-image">

					<%= link_to image_tag (farm.crop_logo),:class=> "attachment-farm_list size-farm_list wp-post-image" %>
					<span> <%= link_to "NOW OPEN",details_path(:id => farm.id) %> </span>
					<!-- <span>NOW <BR><strong>OPEN</strong></span> -->
				</div>

				<div class="project-content">
					<h5><%= farm.crop_name  %></h5>
					<span>GHC<%= farm.amount  %></span>

					<p>
						Returns <%= farm.returns %> per <%= farm.duration %>
					</p>

				</div>
				<span class="project-overlay"> <%= link_to "Start here", details_path(:id => farm.id), :class=> "btn btn-green btn-green-small"%> </span>

				<br>
				<span class="project-overlay"><%= link_to 'Edit Entry', edit_farm_path(farm)%></span>
			</div>

			<%end%>
		</ul><!-- /.projects -->

		<div class="section-actions">
			<%= link_to 'See More Farms',farms_path ,:class =>"btn-green" %>

		</div><!-- /.section-actions -->
	</div><!-- /.shell-wider -->
</section><!-- /.section -->

