
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Agripool</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@cropital_ph"/>
    <meta name="twitter:creator" content="@cropital_ph"/>
    
    <meta property="og:title" content="Social Impact Investment for farmers at Cropital"/>
    <meta name="twitter:title" content="Social Impact Investment for farmers at Cropital"/>
    <meta itemprop="name" content="Social Impact Investment for farmers at Cropital">
    <meta name="description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta property="og:description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta name="twitter:description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta itemprop="description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers.">
    <meta property="og:image" content="/images/thumb.png"/>
    <meta name="twitter:image:src" content="/images/thumb.png"/>
    <meta itemprop="image" content="/images/thumb.png">
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    
    <link rel="icon" href="/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/images/favicon.png"/>
    
    <link rel="stylesheet" href="/assets/bootstrap-theme.css">
    <link rel="stylesheet" href="/assets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <link rel="stylesheet" href="/assets/dropzone.css">
    <link rel="stylesheet" href="/assets/lightbox.css">
    <link rel="stylesheet" href="/assets/rangeslider.css">
    <link rel="stylesheet" href="/assets/floatinglabel.css">
    <link rel="stylesheet" href="/assets/datatables.css">
    <link rel="assetsheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin.css">




    <link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
    <link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
    <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
    <script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
    <script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
    <script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>
  </head>

  <body>
    


<header class="header">

        <div class="header-content">
          <!-- <a href="https://www.farmcrowdy.com/" class="">Farmcrowdy</a>

          <a href="https://www.farmcrowdy.com/" class="">Farmcrowdy</a> -->

          <nav class="nav">
            <a href="#" class="btn-menu"> <i class="ico-menu"></i> </a>
            <ul id="menu-main-menu" class="menu">

              <li id="menu-item-7403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7403">
                <%= link_to 'Home',root_path  %> 
              </li>
              <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                <a href="">FAQs</a>
              </li>
              <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
               <%= link_to 'Farms',farms_path  %> 
                
              </li>

              <li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
                <a href="">Contact Us</a>
              </li>
              <li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199">
                <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
              </li>
            </ul>
          </nav><!-- /.nav -->
        </div><!-- /.header-content -->
      </header><!-- /.header -->


<!-- <nav id="header" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-color-3" href="/"><img class="logo" src="/images/v3.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
         <%#= link_to 'Home',root_path , :class=>"subheading text-color-3" %> 
        </li>
        <li>
          <!-- <a class="subheading text-color-3" href="/learn/how-it-works">How It Works</a> -->
          <%#= link_to 'Farms',farms_path, :class=>"subheading text-color-3"  %> 
       <!--  </li>
        <li>
          <a class="subheading text-color-3" href="/help">Help &amp; Support</a>
        </li>
        
      </ul> -->
     <!--  <div class="navbar-right"> -->
        
       <!--    <a href="/user/login"><button class="btn btn-3" id="login-btn">Log In</button></a> -->

            <%#= link_to "Log in", new_user_session_path,:class=>"btn btn-3" , :id=>"login-btn"%>
            <%#= link_to "Sign up", new_user_registration_path,:class=>"btn btn-1" %>
          <!-- <a href="/user/register"><button class="btn btn-1">Sign-up</button></a> -->
        
    <!--   </div>
    </div>
  </div> -->
<!-- </nav> -->


<div class="parallax-window-header" data-parallax="scroll" data-image-src="/assets/how.jpg" >

  <div class="container pages-md">
    <div class="row center">
      <h2><strong>Agripool helps investments in farms</strong></h4>
      <h3 class="lh-xs mobile-padding-lr">Here's how you can be part of the mission</h3>
    </div>
  </div>
</div>

<div class="content-frame-pln">
  <div class="row no-m">
    <div class="col-md-4 center bg-how-1 no-padding">
      <img class="icon padding-img" src="/assets/how-1.png" height="260px">
    </div>
    <div class="col-md-8">
      <h3 class="text-color-5 lh-xs">Step 1<br><strong>Create an account</strong></h3>
      <p class="text-color-2 text-md">Account is automatically created when you sign-up and register.</p>
      <br>
      <br>
    </div>
  </div>
</div>
<div class="content-frame-pln">
  <div class="row no-m">
    <div class="col-md-4 center bg-how-2 no-padding mobile-on">
      <img class="icon padding-img" src="/assets/how-2.png" height="260px">
    </div>
    <div class="col-md-8 padding">
      <h3 class="text-color-5 lh-xs">Step 2<br><strong>Contribute to your wallet</strong></h3>
      <p class="text-color-2 text-md">You can contribute any amount to the wallet till you have reached a targeted amount to fund a farm you are interested in. Contributions to a specific farm will not be accepted when farm starts. You can contribute to more than one farm</p>
      <br>
    </div>
    <div class="col-md-4 center bg-how-2 no-padding mobile-off">
      <img class="icon padding-img" src="/assets/how-2.png" height="260px">
    </div>
  </div>
</div>
<div class="content-frame-pln">
  <div class="row no-m">
    <div class="col-md-4 center bg-how-1 no-padding">
      <img class="icon padding-img" src="/assets/how-3.png" height="260px">
    </div>
    <div class="col-md-8 padding">
      <h3 class="text-color-5 lh-xs">Step 3<br><strong>Choose Farm</strong></h3>
      <p class="text-color-2 text-md">When your target is reached, you select a package from the farm shop, and contribute to that particular farm. Contributions will be reflected on the dashboard immediately.</p>
      <br>
    </div>
  </div>
</div>
<div class="content-frame-pln">
  <div class="row no-m">
    <div class="col-md-4 center bg-how-2 no-padding mobile-on">
      <img class="icon padding-img" src="/assets/how-4.png" height="260px">
    </div>
    <div class="col-md-8 padding">
      <h3 class="text-color-5">Step 4<br><strong>Farm Updates</strong></h3>
      <p class="text-color-2 text-md">Track your farm through videos, pictures and text of activities on the farm (start to end of farm). Receive notifications of the activities on the farm and occasional visits to the farm. 
    </div>
    <div class="col-md-4 center bg-how-2 no-padding mobile-off">
      <!-- <img class="icon padding-img" src="/images/static-pages/how-4.png" height="260px"> -->
    </div>
  </div>
</div>

<div class="content-frame-pln">
  <div class="row no-m">
    <div class="col-md-4 center bg-how-1 no-padding">
      <img class="icon padding-img" src="/assets/how-3.png" height="260px">
    </div>
    <div class="col-md-8 padding">
      <h3 class="text-color-5 lh-xs">Step 3<br><strong>Get Profit on contributions</strong></h3>
      <p class="text-color-2 text-md">After a successful season, all produce is sold. Returns are subsequently distributed to our subscribers.</p>
      <br>
    </div>
  </div>
</div>





<br>

    
    <!--TEMPLATES-->
    <script type="text/javascript" src="/assets/jst.js"></script>
    <!--TEMPLATES END-->

    <script src="/assets/_jquery-1.11.3.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/parallax.min.js"></script>
    <script src="/assets/dropzone.js"></script>
    <script src="/assets/lightbox.min.js"></script>
    <script src="/assets/rangeslider.min.js"></script>
    <script src="/assets/common.js"></script>
    <script src="/assets/floatinglabel.js"></script>
    <script src="/assets/jquery.dataTables.js"></script>
    <script src="/assets/_moment.min.js"></script>
    <script src="/assets/underscore.min.js"></script>
    <script src="/assets/priceformat.min.js"></script>
		
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/assets/custom.js"></script>

      
  </body>
</html>
