


<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.png">
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@cropital_ph"/>
    <meta name="twitter:creator" content="@cropital_ph"/>
    
    <meta property="og:title" content="Social Impact Investment for farmers at Cropital"/>
    <meta name="twitter:title" content="Social Impact Investment for farmers at Cropital"/>
    <meta itemprop="name" content="Social Impact Investment for farmers at Cropital">
    <meta name="description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta property="og:description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta name="twitter:description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers."/>
    <meta itemprop="description" content="Cropital is a crowdfunding platform connecting anyone to help finance our farmers. Grow your money, help our farmers.">
    <meta property="og:image" content="/images/thumb.png"/>
    <meta name="twitter:image:src" content="/images/thumb.png"/>
    <meta itemprop="image" content="/images/thumb.png">
    
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'> -->
    
   <!--  <link rel="icon" href="/images/favicon.png"/>
    <link rel="apple-touch-icon" href="/images/favicon.png"/> -->
    
    <link rel="stylesheet" href="/assets/bootstrap-theme.css">
    <link rel="stylesheet" href="/assets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <link rel="stylesheet" href="/assets/dropzone.css">
    <link rel="stylesheet" href="/assets/lightbox.css">
    <link rel="stylesheet" href="/assets/rangeslider.css">
    <link rel="stylesheet" href="/assets/floatinglabel.css">
    <link rel="stylesheet" href="/assets/datatables.css">
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/admin.css">
  </head>

  <body>
    
   


<div class="container pages">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="content-frame">
        <h2 class="text-color-4">Welcome !</h2>
        <!-- <a href="/user/facebook/login?type=2"><button class="btn btn-lg btn-facebook btn-block btn-wrap" type="submit">Continue with Facebook</button></a> -->
        <br>
        
        <br>
        <div class="text-strikethru">
          <div class="line"></div>
          <div class="text">Log in with username</div>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>
  <div class="form-group float-label-control">
    <%= f.input :username, required: false,placeholder:"Username", autofocus: true %>
    </div>
    <div class="form-group float-label-control">
    <%= f.input :password, required: false, placeholder:"Password" %>
    </div>
   
  <div >
    <%= f.button :submit, "Log in",class:"btn btn-lg btn-1 btn-block" %>
  </div>

<% end %>
<br>
<div id="forgotpane">
<%= render "devise/shared/links" %> 
</div>
        



<a href="#" id="back-to-top" title="Back to top"></a>

    
    <!--TEMPLATES-->
    <script type="text/javascript" src="/assets/jst.js"></script>
    <!--TEMPLATES END-->

    <script src="/assets/_jquery-1.11.3.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/parallax.min.js"></script>
    <script src="/assets/dropzone.js"></script>
    <script src="/assets/lightbox.min.js"></script>
    <script src="/assets/rangeslider.min.js"></script>
    <script src="/assets/common.js"></script>
    <script src="/assets/floatinglabel.js"></script>
    <script src="/assets/jquery.dataTables.js"></script>
    <script src="/assets/_moment.min.js"></script>
    <script src="/assets/underscore.min.js"></script>
    <script src="/assets/priceformat.min.js"></script>
	
    <script src="/assets/custom.js"></script>

   
      
  </body>
</html>

