/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.agileinfo_services_grid1_pos,.agileinfo_services_grid1 h4,.simplefilter li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.banner{
	background:url(/assets/banner_new.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:750px;
}
.banner1{
	background:url(/assets/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:340px;
}
.w3_agile_banner_top{

}
.agile_phone_mail {
    text-align: right;
    padding: 1em 0;
}
.agile_phone_mail ul li{
	display: inline-block;
    padding: 6px 20px;
    color: #fff;
}
.agile_phone_mail ul li a{
	text-decoration:none;
	color:#fff;
}
.agile_phone_mail ul li a:hover{
	color:#fff;
}
.agile_phone_mail ul li i{
	padding-right:1em;
}
.agileits_w3layouts_banner_nav{
	padding:1em 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    border-radius: 0;
	margin-bottom:0;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecc800;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #ecc800;
}
.navbar-nav {
    float: right;
}
.agile_short_dropdown {
    background: #ecc800;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
	padding:0;
	min-width: 130px;
}
.agile_short_dropdown li a {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}
.navbar-brand {
    padding: 0;
    font-size: 45px;
    line-height: 45px;
    height: 45px;
    letter-spacing: 1px;
}
.navbar-collapse {
    padding: 0;
}
.navbar-nav > li > a {
    text-transform: uppercase;
    padding:14px 15px;
    font-weight: 600;
    font-size: 15px;
}
.navbar-right {
    width: 58%;
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .menu__item--current.open > a,.navbar-default .navbar-nav > .menu__item--current.open > a:focus  {
    color:red;
}
.navbar {
    min-height: 45px;
}
.navbar-nav {
    margin: 0.2em 0 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecc800;
    background-color:transparent;
}
.navbar-nav > li {
    margin: 0 2px;
}
.wthree_banner_info{
	width:100%;
	margin:12em auto 0;
	text-align:center;
}
.agileinfo_more{
	position: relative;
    z-index: 1;
}
.agileinfo_more a{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 5px;
    font-size: 14px;
    border: 2px solid #fff;
}
.agileinfo_more a:focus {
	color:#fff;
    outline: none;
}
.link {
	outline: none;
	position: relative;
	display: inline-block;
}
/* Kumya */
.link--kumya {
	overflow: hidden;
    padding: 15px 30px;
    line-height: 1;
    color: #fff;
}
.link--kumya:hover {
	color:#212121;
}
.link--kumya::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #f36523;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color: #212121;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}
/*-- //banner --*/
.wthree_banner_info h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}
.wthree_banner_info p {
    color: #fff;
    line-height: 28px;
    font-size: 17px;
    margin: 20px auto;
    width: 60%;
}
.agileits_more ul li{
	display:inline-block;
}
.agileits_more ul li a.hvr-icon-hang{
	padding:1em 3em 1em 2em;
	letter-spacing: 3px;
	color:#fff;
	font-weight:600;
	text-transform:capitalize;
	text-decoration:none;
	border:1px solid #fff;
	position: relative;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
a.w3ls_banner_more{
    background: #f36523;
	color:#fff !important;
	border:1px solid #f36523 !important;
}
.agileits_more ul li a.hvr-icon-hang:hover {
	background: #f36523;
	color:#fff;
	border:1px solid #f36523;
}
a.w3ls_banner_more:hover{
	border:1px solid #fff !important;
	color:#fff !important;
	background:none !important;
}
.agileits_more ul li a.hvr-icon-hang:before {
   /* content: "\f078";*/
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.agileits_more ul li a.hvr-icon-hang:hover:before{
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/*-- banner-bottom --*/
.banner-bottom-agileits h3 {
    font-size: 22px;
    text-align: center;
    color: #f36523;
    text-transform: uppercase;
    font-weight: 700;
	letter-spacing: 2px;
}
.bottom-agileinfo,.bottom-w3-agileits,.bottom-agile,.bottom-w3-agile {
    padding: 40px 0;
}
.banner-bottom-agileits p {
    font-size: 14px;
    color: #777;
	text-align:center;
    line-height: 28px;
    margin: 20px 0 0;
}
.bottom1 {
    border-top: 5px solid #ee171f;
	text-align:center;
}
.bottom2 {
    border-bottom: 5px solid #00a650;
	text-align:center;
}
.bottom3 {
    border-top: 5px solid #00adef;
	text-align:center;
}
.bottom4 {
    border-bottom: 5px solid #1b2088;
	text-align:center;
}
i.fa.fa-arrow-circle-o-right {
    font-size: 24px;
    margin-top: 20px;
    color: #ecc800;
}
/*-- /banner-bottom --*/
/*-- effect-2 css --*/
.text-desc1{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
    padding: 40px 24px 0;
	}
.port-2{ 
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
    border: 1px solid #ccc;
	perspective: 800px;
    padding: 5px 5px;
	}
.port-2 .text-desc{
	z-index: -1;
	transition: 0.6s;
	background:#fff;
	}
.port-2 .image-box{
	transition: 0.4s;
	}
.port-2:hover .image-box{
	transform: rotateX(80deg);
	transform-origin: center bottom 0; 
	transition: 0.4s;}

.port-2.effect-1:hover .text-desc{
	opacity: 1;
	}

.port-2.effect-2 .text-desc{
	opacity: 1;
	top: -100%;
	}
.port-2.effect-2:hover .text-desc{
	top: 0;
	}

.port-2.effect-3 .text-desc{
	opacity: 1; 
	top: auto;
	bottom: -100%;
	}
.port-2.effect-3:hover .text-desc{
	bottom: 0;
	}
.process {
    background: #f7f7f7;
}
.process_grids{
	margin-top:55px;
}
.text-desc h4 {
    color: #ffad00;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
.text-desc p{
	font-size:14px;
	line-height:1.8em;
	color:#464646;
}
.process_right h4{
    color: #ffad00;
    font-size: 28px;
    font-weight: 400;
	text-transform:capitalize;	
}
.process_right p{
	font-size:15px;
	color:#464646;
	line-height:2.2em;
    margin: 25px 0 0px;
}
.pro_left h5 {
    font-size: 20px;
    color: #ecc800;
    border: 1px solid #ccc;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 46px;
    height: 46px;
    line-height: 2.1em;
    margin: 0 auto;
}
.pro_left h6 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 21px;
    font-family: 'Lato', sans-serif;
    color: #464646;
}
.pro_grids {
    margin-top: 55px;
}
.pro_spa h5{
	position:relative;	
}
.pro_spa h5:after {
    width: 114px;
    display: inline-block;
    content: "";
    background: #ccc;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 100%;
}
.process {
    background: #f7f7f7;
    padding: 5em 0;
}
.process_right h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
	color:#f36523;
}
/*-- //content --*/
/*-- about --*/
.about{
	    background: url(/assets/banner-1.jpg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	padding:5em 0;
}
.about h3 {
    font-size: 35px;
    color: #f36523;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
p.dolor{
	text-align:center;
	color:#999;
	margin:.5em 0 0;
	position:relative;
	padding-bottom: 2em;
}

.about-grids{
	margin:4em 0 0;
}
.about-grid {
    padding: 0;
}
.about-info {
    border-top: 1px solid rgba(188, 188, 188, 0.57);
    border-bottom: 1px solid rgba(188, 188, 188, 0.57);
    padding: 4em 0;
}
.about-grid-left h4 {
    font-size: 23px;
    color:#ecc800;
	transition:.5s all;
	-o-transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
}
.about-grid-left p {
    color: #d8d8d8;
    line-height: 1.8em;
    margin: 1em 0 0;
}
.about-grid-left {
    float: left;
    width: 76%;
    text-align: right;
    margin-top: 1em;
}
.about-grid-right{
	float:right;
	padding: 3em;
}
.about-grid-right.aliquam{
	float:left;
}
.about-grid-left.non{
	float:right ;
	width:77%;
	text-align:left;
}
.about span.glyphicon {
    font-size: 2em;
	color:#fff;
	transition:.5s all;
	-o-transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
}
.about-grid:nth-child(1) .about-grid-right {
    border-right: 1px solid rgba(188, 188, 188, 0.57);
}
.about-grid.about-one {
    padding: 0 0 3em 0;
	position: relative;
}
.about-grid.about-one:after {
    content: '';
    height: 1px;
    background-color: rgba(188, 188, 188, 0.57);
    width: 90%;
    position: absolute;
    display: block;
    left: 0%;
    bottom: 0%;
}
.about-grid.about-one:nth-child(2):after {
    left: 10%;
}
.about-grid:hover span.glyphicon{
	color:#f36523;
}
.about-grid:hover .about-grid-left h4{
	color:#f36523;
}
/*-- //about --*/
/*--content--*/
.content-mid{
	padding:6em 0;
}
.content-top2{
   background:#f36523;
   padding:2em;
}
.content-top2:hover {
    background:#ecc800;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.content-top2 h4{
   color:#fff;
   font-size:26px;
}
.content-top2 h6{
   color: #FFFFFF;
    font-size: 1.2em;
    padding: 1em 0 1.1em;
}
.content-top2 p{
   color:#fff;
   line-height:1.8em;
}
/* effect-7 css */
.port{
	float: left;
	 width: 100%; 
	 position: relative; 
	 overflow: hidden;
	 text-align: center;
	 overflow: hidden;
 }
.port .text-desc{
	opacity: 0;
	 transition: 0.5s;
	 color: #fff;
 }
 .port .text-desc h6{
	font-size:1.7em;
	margin-bottom:0.5em;
	font-family: 'Montserrat', sans-serif;
 }
.port .text-desc p{
	line-height:2em;
	letter-spacing: 1px;
 }
.port.effect-1 img{
	transition: 0.5s; 
	position: relative;
	 width: 100%;
	 left: 0;
 }
.port.effect-1:hover img{
	left: 50%;
}
.port.effect-1 .text-desc{
	transform: perspective(600px) rotateY(90deg); 
	transform-origin: left center 0;
	 width: 50%;
	 position: absolute;
	 left: 0; top: 0; 
	 padding: 4em 0.7em;
 }
.port.effect-1:hover .text-desc{
	opacity: 1; 
	transform: perspective(600px) rotateY(0deg);
	 z-index: 99;
}
.text-desc{
	position: absolute; 
	left: 0; top: 0;
	 background-color: #ecc800;
	 height: 100%; 
	 opacity: 0;
	 width: 100%;
	 padding: 20px;
 }
/* effect-7 css end */
/*--choose--*/
.footer-left-agileits {
    background: #2f2f2f;
    padding: 4em 4em;
    text-align: center;
    min-height: 305px;
}
.footer-left-agileinfo {
    background: #000000;
    padding: 4em 4em;
	text-align:center;
	 min-height: 305px;
}
.footer-left-w3-agileits {
    background: #2f2f2f;
    padding: 4em 4em;
	text-align:center;
	min-height: 305px;
}
.footer h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.footer-left-w3-agileits input[type="email"] {
    outline: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #999;
    width: 82%;
    background: #fff;
    border: none;
    float: left;
}
.footer-left-w3-agileits input[type="submit"] {
    outline: none;
    width: 18%;
    color: #fff;
    border: none;
    padding: 9px 0;
    background: url(/assets/right-1.png) no-repeat 27px 12px #ecc800;
}
.footer-left-w3-agileits input[type="submit"]:hover {
    background: url(/assets/right-1.png) no-repeat 27px 12px #ecc800;
}
.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 20px;
}
.footer-left-agileits ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.8em;
    color: #fff;
    padding-left: 1em;
}
.footer-left-agileits ul li span {
    left: -1em;
}
.footer-left-agileits li span {
    color: #fff;
}
.footer-left-agileits ul li a {
    color: #fff;
    text-decoration: none;
}
/*-- social-icons --*/
ul.social-icons li {
    display: inline-block;
}
.icon {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 30px;
	height: 30px;
	font-family: FontAwesome;
	font-size:1em;
	color:#fff;
	text-align:center;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
}
.icon-border {
	position: relative;
}

.icon-border::before,
.icon-border::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	line-height: 2.2em;
}

.icon-border::before {
	z-index: 1;
	-webkit-transition: box-shadow 0.3s;
     transition: box-shadow 0.3s;
}

.icon-border::after {
	z-index: 2;
}

/* facebook */
.icon-border.facebook::before {
	box-shadow:inset 0 0 0 48px #4a4750;
}

.icon-border.facebook:hover::before {
	box-shadow:inset 0 0 0 2px #3b5998;
}

.icon-border.facebook::after {
	content:"\f09a";
}
.icon-border.facebook:hover::after {
	color:#3b5998;
}

/* twitter */
.icon-border.twitter::before {
	box-shadow:inset 0 0 0 48px #4a4750;
}

.icon-border.twitter:hover::before {
	box-shadow:inset 0 0 0 2px #1da1f2;
}

.icon-border.twitter::after {
	content:"\f099";
}
.icon-border.twitter:hover::after {
	color:#1da1f2;
}

/* instagram */
.icon-border.instagram::before {
	box-shadow: inset 0 0 0 48px #4a4750;
}

.icon-border.instagram:hover::before {
	box-shadow: inset 0 0 0 2px #833ab4;
}

.icon-border.instagram::after {
	content: "\f16d";
}
.icon-border.instagram:hover::after {
	color:#833ab4;
}

/* pinterest */
.icon-border.pinterest::before {
	box-shadow: inset 0 0 0 48px #4a4750;
}

.icon-border.pinterest:hover::before {
	box-shadow: inset 0 0 0 2px #bd081c;
}

.icon-border.pinterest::after {
	content: "\f231";
}
.icon-border.pinterest:hover::after {
	color:#bd081c;
}
/*-- //social-icons --*/
.copyright-w3-agile {
    padding: 2em 0;
    background: #000;
    text-align: center;
}
.copyright-w3-agile p{
   font-size:15px;
   color:#fff;
}
.copyright-w3-agile p a{
   color:#ecc800;
}
.copyright-w3-agile p a:hover{
   color:#fff;
}
.w3l-map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #ecc800 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 22px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #ecc800;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 25px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
.w3l_head {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#f36523;
}
/*-- contact us --*/
.mail{
	 padding: 5em 0;
}
.agileits_mail_grid_left input[type="text"], .agileits_mail_grid_left input[type="email"], .agileits_mail_grid_left textarea {
    outline: none;
    background: #f5f5f5;
    border: 1px solid #E8E8E8;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 3em;
}
.agileits_mail_grid_left textarea {
    min-height: 150px;
}
.agileits_mail_grid_left input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    display: block;
    margin-top: 1em;
    outline: none;
    background: #f36523;
    color: #fff;
    border: none;
    width: 34%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits_mail_grid_left input[type="submit"]:hover {
    background: #ecc800;
}
.agileits_mail_grid_left h4 {
    font-size: 1.2em;
    color: #ecc800;
    margin-bottom: 1em;
}
.agileits_mail_grids {
    margin-top: 5em;
}
/*-- contact us --*/
/*-- gallery --*/
.wthree_gallery_grids{
	margin:3em 0 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #F58703;
    cursor: default;
    background: none;
    border: none;
    border-bottom-color: transparent;
    border-bottom: 1px solid #F58703;
}
.nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size:14px;
    color: #212121;
	border: none;
	text-transform:uppercase;
	border-bottom: 1px solid #fff;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li {
    margin: 0 10px;
}
.nav-tabs > li > a:hover {
    border: none;
	color: #F58703;
    border-bottom: 1px solid;
	background: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: #F58703;
}
.nav-tabs > li:first-child {
    margin-left: 20em;
}
.view-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
   background-color:rgba(40, 40, 40, 0.5);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
	width:100%;
	height:100%;
}
.view .mask,.view .content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}
.view img {
   display: block;
   position: relative;
}
.view p {
   position: relative;
   color: #fff;
   padding:4em 2em 0;
   text-align: center;
   line-height:1.8em;
}
/*-- jz-box --*/
#jzBox {
  top: 0;
  left: 0;
  z-index: 10000;
  position: fixed;
  background-color: rgba(30, 30, 30, 0.9);
  margin: 0 !important;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}

#jzBoxTargetImg {
  margin:6% 0 1% 0;
  max-width: 96%;
  max-height: 73%;
  cursor: pointer;
}

#jzBoxCounter {
  margin-bottom: 1%;
  font-size: 12px;
}

#jzBox i:hover {
  cursor: pointer;
  color: #2aabd2;
}

#jzBoxBottom { max-height: 22%; }

#jzBoxNextBig, #jzBoxPrevBig {
  cursor: pointer;
  top: 0;
  left: 0;
  width: 35%;
  position: fixed;
  z-index: 10001;
  height: 100%;
}

#jzBoxNextBig { left: 65%; }

.close {
    float: none;
    opacity:1;
    background: url(/assets/close.png) no-repeat 0px 0px;
    display: block;
    width: 32px;
    height: 32px;
	margin:1em auto 0;
}
.arrow-left{
	background: url(/assets/left.png) no-repeat 0px 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.arrow-right{
	background: url(/assets/right.png) no-repeat 0px 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
/*-- //jz-box --*/
.tab_img:nth-child(2) {
    margin: 2em 0;
}
.nav-tabs {
    margin-bottom: 3em;
}
.gallery {
	padding:5em 0;
}
/*-- //gallery --*/
/*-- about --*/
.about-wthree {
    padding: 5em 0;
}
 .furniture h3 {
    font-size: 34px;
    color: #ecc800;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.furniture {
    margin-top: 5em;
}
ul.place {
  padding: 0;
  margin: 6px 0;
  background:#f36523;
  width: 100%;
}
ul.place li {
  display: inline-block;
  padding: 6px;
}
ul.place li {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.tab1,.fur-img {
    margin-top: 2em;
}
.furniture-grid p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
}
.fur-img img{
transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.fur-img :hover {
    box-shadow: 9px 13px 26px -8px #2d3134;
}
/**about**/
.numscroller {
    font-size: 32px;
    color: #ecc800;
    font-weight: 600;
}
.statistics {
    background: url(/assets/banner-1.jpg) center fixed;
    background-size: cover;
	padding:5em 0;
	text-align: center;
}
.statistics-grid h5 {
    font-size: 22px;
    margin-top: 0.8em;
    color: #B5B4B4;
}
.statistics-grids {
    margin-top: 5em;
}
/*--team--*/
.team p.w-text {
    margin-top: 1em;
}
.team{
	padding:5em 0;
}
.team-row {
    margin-top: 4em;
}
.team-grids {
    border: 1px solid #fff;
       padding: 3em 2em;
    width: 22.6%;
    position: relative;
    transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
    overflow: hidden;
	text-align: center;
}
.team-grids.team-mdl {
    margin: 0 3%;
}
.team-grids.team-mdl1 {
    margin-right: 3%;
}
.team-grids h5 {
    font-size: 24px;
    color: #ecc800;
    font-weight: 600;
    text-transform: uppercase;
}
.team-grids p {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.8em;
}
.team-row .social-icons {
    margin: 1em 0 0;
}
.team-img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #fff ;
    width: 100%;
    height: 100%;
	transition: .7s all;
	-webkit-transition: .7s all;
	-moz-transition: .7s all;
	z-index: 9;
}
.team-img img {
    width: 100%;
}
.team-grids:hover div.team-img {
	top:100%;
}
.social-icons1 {
    margin-top: 1em;
}

.about-img img {
    box-shadow: 0 0 8px #999;
    padding: 0.5em;
}
/*--//team--*/
/*-- //about --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
}
@media (max-width: 1366px){
}
@media (max-width: 1280px){
}
@media (max-width: 1080px){
.footer-left-agileinfo {
    padding: 4em 2em;
}
.footer-left-agileits {
    padding: 4em 2em;
}
.footer-left-w3-agileits {
    padding: 4em 2em;
}
.footer-left-w3-agileits input[type="email"] {
    width: 74%;
}
.footer-left-w3-agileits input[type="submit"] {
    width: 26%;
}
.view p {
    padding: 2em 1em 0;
}
.nav-tabs > li:first-child {
    margin-left: 12em;
}
.team-grids {
    padding: 1em 1em;
}
.wthree_banner_info {
    margin: 9em auto 0;
}
.banner {
    min-height: 620px;
}
.port.effect-1 .text-desc {
    padding: 1em 0.7em;
}
.content-top2 h6 {
    font-size: 1.05em;
}
.about-grid-right {
    padding: 2em;
}
}
@media (max-width: 1024px){
}
@media (max-width: 991px){
.navbar-nav > li > a {
    padding: 14px 5px;
    font-size: 14px;
}
.banner1 {
    min-height: 280px;
}
.mail {
    padding: 3em 0;
}
.w3l_head {
    font-size: 35px;
}
.agileits_mail_grids {
    margin-top: 4em;
}
.footer-left-agileinfo,.footer-left-agileits,.footer-left-w3-agileits {
    float: left;
    width: 33.33%;
	min-height: 324px;
}
.agileits_w3layouts_banner_nav {
    padding: 0em 0;
}
.navbar-brand {
    font-size: 40px;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0 1em;
}
.nav-tabs > li:first-child {
    margin-left: 3em;
}
.agile_gallery_grids {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.view p {
    padding: 6em 1em 0;
}
.nav-tabs {
    margin-bottom: 2em;
}
.about-wthree {
    padding: 3em 0;
}
.furniture {
    margin-top: 3em;
}
.furniture-grid1{
    margin-top: 2em;
}
.furniture h3 {
    font-size: 26px;
}
.statistics {
    padding: 3em 0;
}
.statistics-grids {
    margin-top: 3em;
}
.statistics-grid {
    float: left;
    width: 25%;
}
.statistics-grid h5 {
    font-size: 18px;
}
.team {
    padding: 3em 0;
}
.team-grids, .team-grids.team-mdl, .team-grids.team-mdl1 {
    width: 35%;
    float: left;
    margin: 0 7% 4% 7%;
}
.bottom1,.bottom2,.bottom3,.bottom4 {
    float: left;
    width: 25%;
}
.banner-bottom-agileits h3 {
    font-size: 20px;
}
.process {
    padding: 3em 0;
}
.process_grids {
    margin-top: 30px;
}
.process_right {
    margin-top: 20px;
}
.process_right h2 {
    font-size: 24px;
}
.pro_left.pro_spa.text-center,.pro_left.text-center {
    float: left;
    width: 25%;
}
.about {
    padding: 3em 0;
}
.about-grid-right {
    padding: 1.5em;
}
.about-grid.about-one {
    padding: 0 0 2em 0;
    float: left;
    width: 50%;
}
.about-grid-left {
    width: 70%;
}
.about-grid {
    float: left;
    width: 50%;
}
.about-grids {
    margin: 2em 0 0;
}
.about h3 {
    font-size: 28px;
}
.content-mid {
    padding: 3em 0;
}
.content-top1 {
    float: left;
    width: 50%;
}
.content-mid-1 {
    margin-top: 2em;
    float: left;
    width: 100%;
}
.wthree_banner_info h3 {
    font-size: 34px;
}
.wthree_banner_info p {
    font-size: 15px;
    width: 80%;
}
.banner {
    min-height: 550px;
}
.wthree_banner_info {
    margin: 8em auto 0;
}
}
@media (max-width: 800px){
.footer h3 {
    font-size: 23px;
}
.footer-left-w3-agileits input[type="submit"] {
    background: url(/assets/right-1.png) no-repeat 18px 12px #ecc800;
}
.footer-left-w3-agileits input[type="submit"]:hover {
    background: url(/assets/right-1.png) no-repeat 18px 12px #ecc800;
}
}
@media (max-width: 768px){
.footer-left-w3-agileits input[type="submit"] {
    background: url(/assets/right-1.png) no-repeat 16px 12px #ecc800;
}
.footer-left-w3-agileits input[type="submit"]:hover {
    background: url(/assets/right-1.png) no-repeat 16px 12px #ecc800;
}
.footer h3 {
    font-size: 21px;
}
}
@media (max-width: 767px){
.navbar-brand {
	font-size: 36px;
}
.navbar-toggle {
	margin: 0.5em 0 0;
}
.navbar-default .navbar-toggle {
	border: none;
	background: #f36523;
	border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	position: absolute;
	width: 100%;
	z-index: 999;
	background:#f36523;
	padding: 1em 0;
}
.navbar-nav {
    float: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #f36523;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.agileits_w3layouts_banner_nav {
	padding: 0.5em 1em;
}
.navbar-right {
	width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}
.navbar-nav {
	margin: 0;
	text-align:center;
}
.navbar-nav > li > a {
	padding: 5px 25px;
	font-size: 13px;
	display: inline-block;
}
.menu--iris .menu__item {
	margin: 12px 0;
}
.navbar-nav .open .dropdown-menu {
	background-color: #f36523;
	padding:10px 0;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}
}
@media (max-width: 736px){
.footer h3 {
    font-size: 22px;
}
.footer-left-agileinfo, .footer-left-agileits, .footer-left-w3-agileits {
  padding:3em 1em;
  min-height: 284px;
}
.footer-left-w3-agileits input[type="submit"] {
    width: 30%;
}
.footer-left-w3-agileits input[type="email"] {
    width: 70%;
}
.statistics-grid h5 {
    font-size: 16px;
}
.banner-bottom-agileits h3 {
    font-size: 19px;
}
.about-grid-right {
    padding: 1em;
}
}
@media (max-width: 667px){
.banner1 {
    min-height: 240px;
}
.footer h3 {
    font-size: 21px;
}
.view p {
    padding: 4em 1em 0;
}
.wthree_banner_info h3 {
    font-size: 28px;
}
.bottom2 {
	border-top: 5px solid #fff;
	text-align:center;
}
.bottom4 {
    border-top: 5px solid #fff;
}
.banner-bottom-agileits h3 {
    font-size: 17px;
	    letter-spacing: 1px;
}
}
@media (max-width: 640px){
.footer-left-agileinfo, .footer-left-agileits, .footer-left-w3-agileits {
    padding: 2em 5em;
    min-height: 230px;
	float:none;
	width:100%;
}
.w3l_head {
    font-size: 30px;
}
.footer-left-w3-agileits input[type="submit"] {
    width: 12%;
}
.footer-left-w3-agileits input[type="email"] {
    width: 88%;
}
.furniture {
    margin-top: 2em;
}
.wthree_banner_info {
    margin: 5em auto 0;
}
.wthree_banner_info h3 {
    font-size: 25px;
}
.wthree_banner_info p {
    font-size: 14px;
    width: 90%;
}
.banner {
    min-height: 430px;
}
.agileits_more ul li a.hvr-icon-hang {
    padding: 0.8em 2.5em 0.8em 1em;
    letter-spacing: 2px;
}
.bottom1, .bottom2, .bottom3, .bottom4 {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.bottom-agileinfo, .bottom-w3-agileits, .bottom-agile, .bottom-w3-agile {
    padding: 24px 0;
}
}
@media (max-width: 600px){
.about-grid.about-one {
    padding: 0 0 2em 0;
    width: 100%;
}
.about-grid-right {
    padding: 2em;
}
.about-grid {
    width: 100%;
    border-bottom: 1px solid rgba(188, 188, 188, 0.57);
    padding-bottom: 2em;
}
.content-top1 {
    width: 100%;
    margin-bottom: 2em;
}
.content-mid-1 {
    margin-top: 0em;
}
}
@media (max-width: 568px){
	.footer-left-w3-agileits input[type="submit"] {
    width: 14%;
}
.footer-left-w3-agileits input[type="email"] {
    width: 86%;
}
.view p {
    padding: 3em 1em 0;
}
.nav-tabs > li:first-child {
    margin-left: 0em;
}
.nav-tabs > li {
    margin: 0 0px;
}
.team-grids, .team-grids.team-mdl, .team-grids.team-mdl1 {
    width: 40%;
    margin: 0 5% 3% 5%;
}
}
@media (max-width: 480px){
.agile_phone_mail ul li {
    padding: 6px 19px;
}
.banner1 {
    min-height: 210px;
}
.agileits_mail_grid_left h4 {
    font-size: 1em;
}
.agileits_mail_grid_left input[type="submit"] {
    margin-top: 0em;
    width: 44%;
}
.footer-left-w3-agileits input[type="email"] {
    width: 82%;
}
.footer-left-w3-agileits input[type="submit"] {
    width: 18%;
}
.agile_gallery_grids {
    width: 100%;
    margin-bottom: 1em;
}
.tab_img:nth-child(2) {
    margin: 0em 0;
}
.view p {
    padding: 7em 3em 0;
}
.statistics-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.statistics {
    padding: 3em 0 1em;
}
.team-grids, .team-grids.team-mdl, .team-grids.team-mdl1 {
    width: 46%;
    float: left;
    margin: 0 2% 3% 2%;
}
.team {
    padding: 3em 0 0;
}
.team-row {
    margin-top: 2em;
}
.about h3 {
    font-size: 24px;
    line-height: 35px;
}
.pro_spa h5:after {
    width: 55px;
}
}
@media (max-width: 414px){
.agile_phone_mail ul li {
    padding: 6px 6px;
}
.agile_phone_mail ul li i {
    padding-right: 0.5em;
}
.agileits_w3layouts_banner_nav {
    padding: 0;
}
.agile_phone_mail {
    padding: 0.8em 0;
}
.banner1 {
    min-height: 180px;
}
.footer-left-agileinfo, .footer-left-agileits, .footer-left-w3-agileits {
    padding: 2em 3em;
}
.copyright-w3-agile p {
    font-size: 14px;
    line-height: 26px;
}
.copyright-w3-agile {
    padding: 1em 0;
}
.view p {
    padding: 6em 3em 0;
}
.furniture h3 {
    font-size: 22px;
}
.team-grids, .team-grids.team-mdl, .team-grids.team-mdl1 {
    width: 64%;
    float: left;
    margin: 0 18% 7% 17%;
}
.wthree_banner_info h3 {
    font-size: 20px;
}
.wthree_banner_info {
    margin: 3.5em auto 0;
}
.banner {
    min-height: 390px;
}
.wthree_banner_info p {
    width: 93%;
}
.process_right h2 {
    font-size: 20px;
}
.pro_spa h5:after {
    width: 38px;
}
.about-grid-right {
    padding: 1.5em;
}
}
@media (max-width: 384px){
.footer-left-agileinfo, .footer-left-agileits, .footer-left-w3-agileits {
    padding: 2em 2em;
}
.agileits_mail_grids {
    margin-top: 2em;
}
.view p {
    padding: 5em 3em 0;
}
.wthree_banner_info p {
    margin: 12px auto;
}
.process_right h2 {
    font-size: 18px;
}
.process_right p {
    font-size: 14px;
    line-height: 1.8em;
    margin: 16px 0 0px;
}
.pro_spa h5:after {
    width: 30px;
}
.about-grid-right {
    padding: 1em;
}
.wthree_banner_info h3 {
    font-size: 18px;
}
.agile_phone_mail {
    text-align: center;
}
.agile_phone_mail ul li {
    padding: 4px 6px;
}
.wthree_banner_info {
    margin: 3em auto 0;
}
}
@media (max-width: 375px){
	.about-grid-right {
    padding: 1em;
}
.wthree_banner_info p {
    width: 100%;
}
.agileits_more ul li a.hvr-icon-hang {
    padding: 0.8em 2.4em 0.8em 0.8em;
    letter-spacing: 1px;
}
}
@media (max-width: 320px){
.mail {
    padding: 2em 0;
}
.w3l_head {
    font-size: 28px;
}
.agileits_mail_grid_left input[type="submit"] {
    width: 58%;
}
.agileits_mail_grid_left input[type="text"], .agileits_mail_grid_left input[type="email"], .agileits_mail_grid_left textarea {
    margin-bottom: 1.5em;
}
.footer-left-agileinfo, .footer-left-agileits, .footer-left-w3-agileits {
    padding: 2em 1em;
    min-height: 225px;
}
.w3l-map iframe {
    min-height: 200px;
}
.footer-left-w3-agileits input[type="email"] {
    width: 80%;
}
.footer-left-w3-agileits input[type="submit"] {
    width: 20%;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding: 2em 0;
}
.gallery {
    padding: 2em 0 1em;
}
.agile_gallery_grids {
    padding: 0;
}
.nav-tabs > li > a {
    font-size: 13px;
}
.wthree_gallery_grids {
    margin: 2em 0 0;
}
.view p {
    padding: 4em 3em 0;
}
.about-wthree {
    padding: 2em 0;
}
.furniture {
    margin-top: 1.5em;
}
.furniture h3 {
    font-size: 20px;
}
.tab1, .fur-img {
    margin-top: 1em;
}
.furniture-grid {
    padding: 0;
}
ul.place li {
    font-size: 1em;
}
.furniture-grid1 {
    padding: 0;
}
.statistics {
    padding: 2em 0 0em;
}
.statistics-grid h5 {
    font-size: 14px;
}
.numscroller {
    font-size: 28px;
}
.team {
    padding: 2em 0 0;
}
.team-grids, .team-grids.team-mdl, .team-grids.team-mdl1 {
    width: 88%;
    margin: 0 6% 7% 6%;
}
.wthree_banner_info h3 {
    font-size: 16px;
}
.wthree_banner_info p {
    font-size: 13px;
}
.agileits_more ul li a.hvr-icon-hang {
    font-size: 12px;
}
.bottom1, .bottom2, .bottom3, .bottom4 {
    padding: 0;
}
.process {
    padding: 2em 0;
}
.process {
    padding: 1em 0;
}
.process_left {
    padding: 0;
}
.process_right {
    padding: 0;
}
.process_right h2 {
    font-size: 16px;
}
.process_right p {
    font-size: 13px;
}
.pro_grids {
    margin-top: 30px;
}
.pro_left h6 {
    font-size: 14px;
    margin-top: 12px;
}
.pro_spa h5:after {
    width: 23px;
}
.about {
    padding: 2em 0;
}
.about-grid-right {
    padding: 0.5em;
}
.about-grid-left {
    width: 78%;
	margin-top:0;
}
.about-grid.about-one {
    width: 100%;
	    border-bottom: 1px solid rgba(188, 188, 188, 0);
}
.about-grids {
    margin: 1em 0 0;
}
.about-grid-left h4 {
    font-size: 20px;
}
.about-grid {
    margin-top: 20px;
}
.about h3 {
    font-size: 22px;
    line-height: 30px;
}
.content-mid {
    padding: 2em 0;
}
.content-top1 {
    padding: 0;
}
.content-top2 h6 {
    font-size: 1em;
}
.content-top2 h6 {
    font-size: 1em;
}
.port .text-desc h6 {
    font-size: 1.3em;
}
.text-desc p {
    font-size: 13px;
    line-height: 1.8em;
}
.wthree_banner_info {
    margin: 2.5em auto 0;
}
.navbar-brand {
    font-size: 32px;
}
}