
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :customer_name %>
    <%= f.input :customer_mobile_number %>
    <%= f.input :channel %>
    <%= f.input :amount %>
    <%= f.input :description %>
    <%= f.input :token %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
