<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @transaction.customer_name %>
</p>

<p>
  <strong>Customer mobile number:</strong>
  <%= @transaction.customer_mobile_number %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @transaction.channel %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Token:</strong>
  <%= @transaction.token %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
