<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Agripool</title>
		<!-- custom-theme -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Coalition Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<link rel="stylesheet" href="/assets/bootstrap.css" type="text/css" media="all"  >
		<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all"  >
		<script type="text/javascript" src="/assets/jquery-2.1.4.min.js"></script>
		<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" property=""   >
		<link rel="stylesheet" href="/assets/font-awesome.css"  >
		<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<!-- <link rel='stylesheet' id='stylesheet-css'  href='/assets/stylesheet.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='js_composer_front-css'  href='/assets/js_composer.min.css' type='text/css' media='all' /> -->
		<link rel='stylesheet' id='theme-styles-bundle-css'  href='/assets/bundle.css' type='text/css' media='all' />

		<!-- <link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
		<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
		<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
		<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' /> -->
		<!-- <link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' /> -->
		<!-- <link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
		<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
		<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
		<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
		<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>

		-->

		<!-- flexSlider -->
		<!-- <script defer src="js/jquery.flexslider.js"></script> -->
		<script type="text/javascript" src="/assets/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation : "slide",
					start : function(slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- //flexSlider -->

		<!-- for bootstrap working -->
		<!-- <script src="js/bootstrap.js"></script> -->
		<script type="text/javascript" src="/assets/bootstrap.js"></script>
		<!-- //for bootstrap working -->

	</head>
	<body>
		<%= yield %>
		<!-- banner -->
		<!-- <div class="copyright-w3-agile">
			<div class="container">
				<p>
					© 2018 Agripool. All rights reserved | Design by <a href="">DevDex Software</a>
				</p>
				<div class="clearfix"></div>
			</div>
		</div> -->

	</body>
</html>