<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Agripool</title>
		<!-- custom-theme -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Coalition Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<link rel="stylesheet" href="/assets/bootstrap.css" type="text/css" media="all"  >
		<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all"  >
		<script type="text/javascript" src="/assets/jquery-2.1.4.min.js"></script>
		<link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen" property=""   >
		<link rel="stylesheet" href="/assets/font-awesome.css"  >
		<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<link rel='stylesheet' id='stylesheet-css'  href='/assets/stylesheet.min.css' type='text/css' media='all' />

		<link rel='stylesheet' id='js_composer_front-css'  href='/assets/js_composer.min.css' type='text/css' media='all' />
		<!-- <link rel='stylesheet' id='theme-styles-bundle-css'  href='/assets/bundle.css' type='text/css' media='all' /> -->
	
	<!-- <link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>
	 -->
	
	
	</head>
	<body>
		<!-- banner -->
		<div class="banner">
			<div class="container">
				<div class="w3_agile_banner_top">
					<div class="agile_phone_mail">
						<ul>
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>+(233)244000000
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:Coalition@w3layouts.com">agripool@bluecroft.com</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="agileits_w3layouts_banner_nav">
					<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a class="navbar-brand" href="index.html">Agripool</a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<nav class="cl-effect-13" id="cl-effect-13">
								<ul class="nav navbar-nav">
									<li class="active">
										<a href="index.html">Home</a>
									</li>
									<li>
										<a href="about.html">About</a>
									</li>
									<li>
										<a href="portfolio.html">The Process</a>
									</li>
									<li>
										<a href="portfolio.html">Farms</a>
									</li>
									<!-- <li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Farms <b class="caret"></b></a>
									<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Icons</a></li>
									<li><a href="typography.html">Typography</a></li>
									</ul>
									</li> -->
									<li>
										<a href="contact.html">Account</a>
									</li>
								</ul>

							</nav>

						</div>
					</nav>
				</div>
				<div class="wthree_banner_info">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<h3>WE ARE ENSURING FOOD SURPLUS </h3>
									<p>
										Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
										<br>
										and share in the harvest.
									</p>

									<div class="agileits_more">
										<ul>
											<li>
												<a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a>
											</li>
											<li>
												<a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h3>WE ARE ENSURING FOOD SURPLUS </h3>
									<p>
										Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
										<br>
										and share in the harvest.
									</p>

									<div class="agileits_more">
										<ul>
											<li>
												<a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a>
											</li>
											<li>
												<a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h3>WE ARE ENSURING FOOD SURPLUS </h3>
									<p>
										Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
										<br>
										and share in the harvest.
									</p>

									<div class="agileits_more">
										<ul>
											<li>
												<a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a>
											</li>
											<li>
												<a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h3>WE ARE ENSURING FOOD SURPLUS </h3>
									<p>
										Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
										<br>
										and share in the harvest.
									</p>

									<div class="agileits_more">
										<ul>
											<li>
												<a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a>
											</li>
											<li>
												<a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h3>WE ARE ENSURING FOOD SURPLUS </h3>
									<p>
										Agripool gives you the opportunity to fund a farm, empower farmers, learn practical agricultural tips
										<br>
										and share in the harvest.
									</p>

									<div class="agileits_more">
										<ul>
											<li>
												<a href="#" class="w3ls_banner_more hvr-icon-hang">How it works</a>
											</li>
											<li>
												<a href="#" class="hvr-icon-hang" data-toggle="modal" data-target="#myModal">Farm now</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</section>
					<!-- flexSlider -->
					<!-- <script defer src="js/jquery.flexslider.js"></script> -->
					<script type="text/javascript" src="/assets/jquery.flexslider.js"></script>
					<script type="text/javascript">
						$(window).load(function() {
							$('.flexslider').flexslider({
								animation : "slide",
								start : function(slider) {
									$('body').removeClass('loading');
								}
							});
						});
					</script>
					<!-- //flexSlider -->
				</div>
			</div>
		</div>
		<!-- //banner -->
		<!-- banner-bottom -->
		<div      class="vc_row wpb_row section vc_row-fluid  grid_section" style='background-color:#ffffff; padding-top:87px; padding-bottom:78px; text-align:left;'>
			<div class=" section_inner clearfix">
				<div class='section_inner_margin clearfix'>
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h2 style="text-align: center;">Our Focus</h2>

									</div>
								</div>
								<div class="separator  small center  " style="margin-top: 7px;margin-bottom: 38px;"></div>

								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h4 style="text-align: center;">How we are making the world better</h4>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div      class="vc_row wpb_row section vc_row-fluid " style='background-color:#ffffff; padding-top:0px; padding-bottom:0px; text-align:center;'>
			<div class=" full_section_inner clearfix">
				<div class="wpb_column vc_column_container vc_col-sm-3">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='q_icon_with_title large custom_icon_image center '>
								<div class="icon_holder " style="margin: 0 0 28px 0; "><img itemprop="image" style="margin: 0 0 28px 0;" src="https://www.thriveagric.com/wp-content/uploads/2014/03/maize.png" alt="">
								</div>
								<div class="icon_text_holder" style="">
									<div class="icon_text_inner" style="">
										<h3 class="icon_title" style="">Solving food Shortage</h3>
										<p style=''>
											With Food importation at its height and Africa's growing population. ThriveAgric is providing a solution to the continents challenges.
										</p>
									</div>
								</div>
							</div><div class="separator  transparent   " style="margin-top: 37px;margin-bottom: 0px;"></div>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-3">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='q_icon_with_title medium custom_icon_image center '>
								<div class="icon_holder " style="margin: 0 0 28px 0; "><img itemprop="image" style="margin: 0 0 28px 0;" src="https://www.thriveagric.com/wp-content/uploads/2014/03/Farmer-icon.png" alt="">
								</div>
								<div class="icon_text_holder" style="">
									<div class="icon_text_inner" style="">
										<h3 class="icon_title" style="">DEVELOPING FARMING COMMUNITIES</h3>
										<p style=''>
											We work with farming communites and are driving real change by providing what they need to be better farmers and happier people.
										</p>
									</div>
								</div>
							</div><div class="separator  transparent   " style="margin-top: 37px;margin-bottom: 0px;"></div>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-3">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='q_icon_with_title large custom_icon_image center '>
								<div class="icon_holder " style="margin: 0 0 28px 0; "><img itemprop="image" style="margin: 0 0 28px 0;" src="https://www.thriveagric.com/wp-content/uploads/2014/03/mobile-icon-10.png" alt="">
								</div>
								<div class="icon_text_holder" style="">
									<div class="icon_text_inner" style="">
										<h3 class="icon_title" style="">Tech Driven Results</h3>
										<p style=''>
											We are deploying technology to increase yeild and productivity. Our extension workers use an App that gives up to date information and our farmers also get automated messages.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-3">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='q_icon_with_title medium custom_icon_image center '>
								<div class="icon_holder " style="margin: 0 0 28px 0; "><img itemprop="image" style="margin: 0 0 28px 0;" src="https://www.thriveagric.com/wp-content/uploads/2014/03/our-process-icon-2.png" alt="">
								</div>
								<div class="icon_text_holder" style="">
									<div class="icon_text_inner" style="">
										<h3 class="icon_title" style="">EXCITING RETURNS</h3>
										<p style=''>
											Our Subscribers get exciting returns. Our farmers make *2 what their average yield would have been and the Nation has more food.
										</p>
									</div>
								</div>
							</div><div class="separator  transparent   " style="margin-top: 37px;margin-bottom: 0px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section section-projects-preview section-solid">
			<div class="shell-wider">
				<h2 class="section-title">Start your farm</h2><!-- /.section-title -->

				<ul class="projects">
					<div class="project">
						<div class="project-image">
							<a href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/"> <img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" /> <span>NOW
								<BR>
								<strong>OPEN</strong></span> </a>
						</div><!-- /.project-image -->

						<div class="project-content">
							<h5>Maize Farm Kaduna</h5>
							<span>₦95,000</span>

							<p>
								Returns 12%  per 10 months
							</p>
						</div><!-- /.project-content -->

						<a href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" class="project-overlay"> <span class="btn btn-green btn-green-small">Start here</span> </a>
					</div><!-- /.project -->
					<div class="project">
						<div class="project-image">
							<a href="https://www.farmcrowdy.com/farm/rice-farm-kwara/"> <img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" /> <span>SOLD
								<BR>
								<strong>OUT</strong></span> </a>
						</div><!-- /.project-image -->

						<div class="project-content">
							<h5>Rice Farm Kwara</h5>
							<span>₦90,000</span>

							<p>
								Returns 15%  per 9 months 
							</p>
						</div><!-- /.project-content -->

						<a href="https://www.farmcrowdy.com/farm/rice-farm-kwara/" class="project-overlay"> <span class="btn btn-green btn-green-small">Start here</span> </a>
					</div><!-- /.project -->
					<div class="project">
						<div class="project-image">
							<a href="https://www.farmcrowdy.com/farm/soya-beans-farm/"> <img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" /> <span>LAUNCHING SOON </span> </a>
						</div><!-- /.project-image -->

						<div class="project-content">
							<h5>Soya Beans Farm</h5>
							<span>₦130,000</span>

							<p>
								Returns 8%  per 9 months
							</p>
						</div><!-- /.project-content -->

						<a href="https://www.farmcrowdy.com/farm/soya-beans-farm/" class="project-overlay"> <span class="btn btn-green btn-green-small">Start here</span> </a>
					</div><!-- /.project -->
					<div class="project">
						<div class="project-image">
							<a href="https://www.farmcrowdy.com/farm/poultry-farm-units/"> <img width="300" height="265" src="https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna.png" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna.png 300w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-37x33.png 37w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-60x53.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-120x106.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-57x50.png 57w" sizes="(max-width: 300px) 100vw, 300px" /> <span>SOLD <strong>OUT</strong></span> </a>
						</div><!-- /.project-image -->

						<div class="project-content">
							<h5>Poultry Farm Units</h5>
							<span>₦96,000</span>

							<p>
								Returns 8%  per 3 months
							</p>
						</div><!-- /.project-content -->

						<a href="https://www.farmcrowdy.com/farm/poultry-farm-units/" class="project-overlay"> <span class="btn btn-green btn-green-small">Start here</span> </a>
					</div><!-- /.project -->
				</ul><!-- /.projects -->

				<div class="section-actions">
					<a href="https://www.farmcrowdy.com/farmshop/" class="btn-green">See More Farms</a>
				</div><!-- /.section-actions -->
			</div><!-- /.shell-wider -->
		</section><!-- /.section -->

		<div class="copyright-w3-agile">
			<div class="container">
				<p>
					© 2018 Agripool. All rights reserved | Design by <a href="">DevDex Software</a>
				</p>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- for bootstrap working -->
		<!-- <script src="js/bootstrap.js"></script> -->
		<script type="text/javascript" src="/assets/bootstrap.js"></script>
		<!-- //for bootstrap working -->
	</body>
</html>