
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://www.farmcrowdy.com/xmlrpc.php" />

	<title>Home - Farmcrowdy</title>

<!-- This site is optimized with the Yoast SEO plugin v6.1 - https://yoa.st/1yg?utm_content=6.1 -->
<meta name="description" content="Nigeria&#039;s 1st Digital Agriculture Platform focused on giving people the opportunity to invest in Agriculture by connecting farm sponsors with real farmers."/>
<link rel="canonical" href="https://www.farmcrowdy.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home - Farmcrowdy" />
<meta property="og:description" content="Nigeria&#039;s 1st Digital Agriculture Platform focused on giving people the opportunity to invest in Agriculture by connecting farm sponsors with real farmers." />
<meta property="og:url" content="https://www.farmcrowdy.com/" />
<meta property="og:site_name" content="Farmcrowdy" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Nigeria&#039;s 1st Digital Agriculture Platform focused on giving people the opportunity to invest in Agriculture by connecting farm sponsors with real farmers." />
<meta name="twitter:title" content="Home - Farmcrowdy" />
<meta name="twitter:site" content="@farmcrowdy" />
<meta name="twitter:creator" content="@farmcrowdy" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.farmcrowdy.com\/","name":"Farmcrowdy","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.farmcrowdy.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//maps.googleapis.com' />
<link rel='dns-prefetch' href='//www.youtube.com' />
<link rel='dns-prefetch' href='//connect.facebook.net' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Feed" href="https://www.farmcrowdy.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Farmcrowdy &raquo; Comments Feed" href="https://www.farmcrowdy.com/comments/feed/" />
<link rel="shortcut icon" href="https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/images/favicon.ico?ver=1501577976" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='font-roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=4.9.6' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/font-awesome.min.css?ver=1501577965' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.carousel.min.css?ver=1501577970' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-theme-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/assets/owl.theme.default.min.css?ver=1501577968' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.css?ver=1501577967' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/magnific-popup.css?ver=1501577970' type='text/css' media='all' />
<link rel='stylesheet' id='theme-fonts-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/fonts.css?ver=1501577911' type='text/css' media='all' />
<link rel='stylesheet' id='theme-styles-bundle-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/bundle.css?ver=1526304720' type='text/css' media='all' />
<link rel='stylesheet' id='theme-styles-css'  href='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/style.css?ver=1513088743' type='text/css' media='all' />
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/owl.carousel/owl.carousel.min.js?ver=1501577968'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/slick/slick.min.js?ver=1501577967'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/magnific-popup/jquery.magnific-popup.min.js?ver=1501577970'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/assets/vendor/progressbar/progressbar.min.js?ver=1501577966'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCpPF3QGWUkCt6TTpLDlV5pbNAIM5Ec19E&#038;ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/functions.js?ver=1526315202'></script>
<script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/custom.js?ver=1512647119'></script>
<script type='text/javascript' src='https://connect.facebook.net/en_US/all.js?ver=4.9.6'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var crb_facebook_app_id = "1589396614690074";
/* ]]> */
</script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/themes/farmcrowdy/js/socials-functions.js?ver=1507188885'></script>
<link rel='https://api.w.org/' href='https://www.farmcrowdy.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.farmcrowdy.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.farmcrowdy.com/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://www.farmcrowdy.com/' />
<link rel="alternate" type="application/json+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.farmcrowdy.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.farmcrowdy.com%2F&#038;format=xml" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85036927-1', 'auto');
  ga('send', 'pageview');

</script>	
	
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1848427765468575'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=1848427765468575&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
</head>
<body class="home page-template page-template-templates page-template-home page-template-templateshome-php page page-id-5">
	<div class="wrapper">
		<header class="header">
			<div class="header-bar">
				<span class="slogan">
					Nigeria&#8217;s 1st Digital Agriculture Platform				</span>

				<div class="header-bar-inner">
					
					<nav class="nav-access">
													<ul id="menu-header-logged-out" class="menu"><li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264"><a href="https://www.farmcrowdy.com/login/">Sign Up</a></li>
<li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a href="https://www.farmcrowdy.com/login/">Log in</a></li>
</ul>											</nav><!-- /.nav-access -->
				</div><!-- /.header-bar-inner -->
			</div><!-- /.header-bar -->

			<div class="header-content">
				<a href="https://www.farmcrowdy.com/" class="logo">Farmcrowdy</a>

				<a href="https://www.farmcrowdy.com/" class="logo-small">Farmcrowdy</a>

									<nav class="nav">
						<a href="#" class="btn-menu">
							<i class="ico-menu"></i>
						</a>
						<ul id="menu-main-menu" class="menu"><li id="menu-item-7325" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7325"><a href="https://www.farmcrowdy.com/media/team.html">About Farmcrowdy</a></li>
<li id="menu-item-7403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7403"><a href="http://farmcrowdy.com/impact/">Impact</a></li>
<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="https://www.farmcrowdy.com/frequently-asked-questions/">FAQs</a></li>
<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="https://www.farmcrowdy.com/farmshop/">Farmshop</a></li>
<li id="menu-item-2094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2094"><a href="https://www.farmcrowdy.com/blog/">Blog</a></li>
<li id="menu-item-2199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2199"><a href="https://www.farmcrowdy.com/contact/">Contact Us</a></li>
</ul>					</nav><!-- /.nav -->
							</div><!-- /.header-content -->
		</header><!-- /.header -->

	<div class="slider-intro">
		<div class="slider__clip">
			<div class="slider__slides">
														<div class="slider__slide">
						<div style="background-image: url(https://www.farmcrowdy.com/wp-content/uploads/2016/08/IMG_BG-14-1905x664.jpg);" class="slider__slide-image"></div><!-- /.slider__slide-image -->

						<div class="slider__container">
							<div class="shell-wider">
								<div class="slider__slide-content">
									<h1>Empowering farmers. <br />Together.</h1>
								</div><!-- /.slider__slide-content -->
							</div><!-- /.shell-wider -->
						</div><!-- /.slider__container -->
					</div><!-- /.slider__slide -->
														<div class="slider__slide">
						<div style="background-image: url(https://www.farmcrowdy.com/wp-content/uploads/2016/08/IMG_BG-12-1905x664.jpg);" class="slider__slide-image"></div><!-- /.slider__slide-image -->

						<div class="slider__container">
							<div class="shell-wider">
								<div class="slider__slide-content">
									<h1>From subsistence farming <br />to farming as a business.</h1>
								</div><!-- /.slider__slide-content -->
							</div><!-- /.shell-wider -->
						</div><!-- /.slider__container -->
					</div><!-- /.slider__slide -->
														<div class="slider__slide">
						<div style="background-image: url(https://www.farmcrowdy.com/wp-content/uploads/2016/08/IMG_BG-13-1905x664.jpg);" class="slider__slide-image"></div><!-- /.slider__slide-image -->

						<div class="slider__container">
							<div class="shell-wider">
								<div class="slider__slide-content">
									<h1>Growing our own food <br />for our children to eat.</h1>
								</div><!-- /.slider__slide-content -->
							</div><!-- /.shell-wider -->
						</div><!-- /.slider__container -->
					</div><!-- /.slider__slide -->
							</div><!-- /.slider__slides -->

			<div class="slider__bar">
				<div class="shell-wider">
					<div class="video-intro">
						<a href="https://www.youtube.com/watch?v=q6XGhqQMW8o" class="link-play popup-video-link">
							<span>
								<i class="ico-play-small"></i>
							</span>

							See how Farmcrowdy works!						</a>
					</div><!-- /.video-intro -->

											<div class="slider__bar__inner">
							<ul class="features-small">
																	<li class="feature-small">
										<figure class="feature__image">
											<img width="51" height="45" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-insurance.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-insurance.png 51w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-insurance-37x33.png 37w" sizes="(max-width: 51px) 100vw, 51px" />										</figure><!-- /.feature__image -->

										<div class="feature__content">
											<p>Insurance<br />Cover</p>
										</div><!-- /.feature__content -->
									</li><!-- /.feature-small -->
																	<li class="feature-small">
										<figure class="feature__image">
											<img width="69" height="46" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-review.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-review.png 69w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-review-50x33.png 50w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-review-60x40.png 60w" sizes="(max-width: 69px) 100vw, 69px" />										</figure><!-- /.feature__image -->

										<div class="feature__content">
											<p>100's of<br />Happy Reviews</p>
										</div><!-- /.feature__content -->
									</li><!-- /.feature-small -->
																	<li class="feature-small">
										<figure class="feature__image">
											<img width="42" height="44" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-person.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-person.png 42w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/ico-person-32x33.png 32w" sizes="(max-width: 42px) 100vw, 42px" />										</figure><!-- /.feature__image -->

										<div class="feature__content">
											<p>3500+ Sponsors<br />and Followers</p>
										</div><!-- /.feature__content -->
									</li><!-- /.feature-small -->
															</ul><!-- /.features-small -->
						</div><!-- /.slider__bar__inner -->
									</div><!-- /.shell -->
			</div><!-- /.slider__bar -->
		</div><!-- /.slider__clip -->
	</div><!-- /.slider -->

<div class="main">
			<div class="section section-benefits">
			<div class="shell-wider">
				<h2 class="section-title">What We Do</h2><!-- /.section-title -->

				<ul class="benefits">
											<li class="benefit">
							<div class="benefit-image">
								<img width="213" height="225" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5.png 213w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-31x33.png 31w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-57x60.png 57w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-114x120.png 114w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image5-47x50.png 47w" sizes="(max-width: 213px) 100vw, 213px" />							</div><!-- /.benefit-image -->

							<div class="benefit-content">
								<h3 class="benefit-title">Promising Returns <br>After Harvest</h3><!-- /.benefit-title -->

								<p>Farm sponsors can get between 6–25% returns on original sponsorship made on our farms &amp; farmers</p>
							</div><!-- /.benefit-content -->
						</li><!-- /.benefit -->
											<li class="benefit">
							<div class="benefit-image">
								<img width="160" height="228" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6.png 160w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-23x33.png 23w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-42x60.png 42w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-84x120.png 84w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image6-35x50.png 35w" sizes="(max-width: 160px) 100vw, 160px" />							</div><!-- /.benefit-image -->

							<div class="benefit-content">
								<h3 class="benefit-title">Empowering<br />Farmers</h3><!-- /.benefit-title -->

								<p>Over 1500 of our farmers are able to keep a job, expand their farm operations and increase their revenue</p>
							</div><!-- /.benefit-content -->
						</li><!-- /.benefit -->
											<li class="benefit">
							<div class="benefit-image">
								<img width="207" height="181" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7.png 207w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-38x33.png 38w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-60x52.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-120x105.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image7-57x50.png 57w" sizes="(max-width: 207px) 100vw, 207px" />							</div><!-- /.benefit-image -->

							<div class="benefit-content">
								<h3 class="benefit-title">Strengthening Our<br />Food Security</h3><!-- /.benefit-title -->

								<p>Farm Sponsors participation in Agriculture contributes to domestic food production and thus protects food security in this region</p>
							</div><!-- /.benefit-content -->
						</li><!-- /.benefit -->
											<li class="benefit">
							<div class="benefit-image">
								<img width="214" height="206" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8.png 214w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-34x33.png 34w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-60x58.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-120x116.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/benefit-image8-52x50.png 52w" sizes="(max-width: 214px) 100vw, 214px" />							</div><!-- /.benefit-image -->

							<div class="benefit-content">
								<h3 class="benefit-title">Utilizing Arable<br />Farmland</h3><!-- /.benefit-title -->

								<p>We are focused on taking advantage of under-utilized arable land in rural communities to grow food</p>
							</div><!-- /.benefit-content -->
						</li><!-- /.benefit -->
									</ul><!-- /.benefits -->
			</div><!-- /.shell-wider -->
		</div><!-- /.section -->
	
			<section class="section section-projects-preview section-solid">
			<div class="shell-wider">
									<h2 class="section-title">Start your farm</h2><!-- /.section-title -->
				
				<ul class="projects">
					<div class="project">
			<div class="project-image">
			<a href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/">
				<img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2018/04/fc_maize_farm-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" />									<span>NOW <BR><strong>OPEN</strong></span>	
							</a>
		</div><!-- /.project-image -->
		
	<div class="project-content">
		<h5>Maize Farm Kaduna</h5>
		<span>₦95,000</span>

		<p>Returns 12%  per 10 months</p>
	</div><!-- /.project-content -->

			<a href="https://www.farmcrowdy.com/farm/maize-farm-kaduna/" class="project-overlay">
			<span class="btn btn-green btn-green-small">Start here</span>
		</a>
	</div><!-- /.project --><div class="project">
			<div class="project-image">
			<a href="https://www.farmcrowdy.com/farm/rice-farm-kwara/">
				<img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-rice-image-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" />									<span>SOLD <BR><strong>OUT</strong></span>	
							</a>
		</div><!-- /.project-image -->
		
	<div class="project-content">
		<h5>Rice Farm Kwara</h5>
		<span>₦90,000</span>

		<p>Returns 15%  per 9 months</p>
	</div><!-- /.project-content -->

			<a href="https://www.farmcrowdy.com/farm/rice-farm-kwara/" class="project-overlay">
			<span class="btn btn-green btn-green-small">Start here</span>
		</a>
	</div><!-- /.project --><div class="project">
			<div class="project-image">
			<a href="https://www.farmcrowdy.com/farm/soya-beans-farm/">
				<img width="730" height="644" src="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-730x644.jpg" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail.jpg 730w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-300x265.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-37x33.jpg 37w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-60x53.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-120x106.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-325x287.jpg 325w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Farm-Thumbnail-57x50.jpg 57w" sizes="(max-width: 730px) 100vw, 730px" />									<span>LAUNCHING SOON </span>	
							</a>
		</div><!-- /.project-image -->
		
	<div class="project-content">
		<h5>Soya Beans Farm</h5>
		<span>₦130,000</span>

		<p>Returns 8%  per 9 months</p>
	</div><!-- /.project-content -->

			<a href="https://www.farmcrowdy.com/farm/soya-beans-farm/" class="project-overlay">
			<span class="btn btn-green btn-green-small">Start here</span>
		</a>
	</div><!-- /.project --><div class="project">
			<div class="project-image">
			<a href="https://www.farmcrowdy.com/farm/poultry-farm-units/">
				<img width="300" height="265" src="https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna.png" class="attachment-farm_list size-farm_list wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna.png 300w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-37x33.png 37w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-60x53.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-120x106.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/07/poultry3_300x265_Kaduna-57x50.png 57w" sizes="(max-width: 300px) 100vw, 300px" />									<span>SOLD <strong>OUT</strong></span>	
							</a>
		</div><!-- /.project-image -->
		
	<div class="project-content">
		<h5>Poultry Farm Units</h5>
		<span>₦96,000</span>

		<p>Returns 8%  per 3 months</p>
	</div><!-- /.project-content -->

			<a href="https://www.farmcrowdy.com/farm/poultry-farm-units/" class="project-overlay">
			<span class="btn btn-green btn-green-small">Start here</span>
		</a>
	</div><!-- /.project -->				</ul><!-- /.projects -->

									<div class="section-actions">
						<a href="https://www.farmcrowdy.com/farmshop/" class="btn-green">See More Farms</a>
					</div><!-- /.section-actions -->
							</div><!-- /.shell-wider -->
		</section><!-- /.section -->
	
					<section id="see-how-farmcrowdy-works" class="section section-video">
			<div class="video">
				<iframe id="intro-video" origin="https://www.farmcrowdy.com" width="1905" height="567" src="//www.youtube.com/embed/pCbDyW327nA?controls=0&amp;disablekb=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.farmcrowdy.com&amp;loop=1&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen></iframe>
				<a href="#" class="video-overlay">
					<i class="ico-play-transparent"></i>
				</a>
			</div><!-- /.video -->
		</section><!-- /.section -->
	
			<div class="slider-testimonials">
			<div class="slider__clip">
				<div class="slider__slides">
																		<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>Farmcrowdy is unique because the ease of convenience and opportunity to participate in agric platforms. It is a great initiative and I would recommend it because of the great business sense.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="54" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n.jpg 160w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n-150x150.jpg 150w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n-33x33.jpg 33w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n-60x60.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n-120x120.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/15894766_10154389646912675_5992984228597693014_n-50x50.jpg 50w" sizes="(max-width: 54px) 100vw, 54px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Bukola Dosumu, Lagos</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>It’s easy to sponsor a farm and the bi-weekly update is very good on the sponsored farm. Being the first in Nigeria, Farmcrowdy will grow and reduce food importation, famine in Nigeria.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="54" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/06/1-1-120x120.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/06/1-1-120x120.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/1-1-120x120-33x33.jpg 33w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/1-1-120x120-60x60.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/1-1-120x120-50x50.jpg 50w" sizes="(max-width: 54px) 100vw, 54px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Adeyeye Martins Oluwafemi, Lagos</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>I have always wanted to invest in agriculture without getting my hands dirty and Farmcrowdy has given me the opportunity to do so.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="52" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali.jpg 783w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-290x300.jpg 290w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-768x794.jpg 768w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-32x33.jpg 32w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-58x60.jpg 58w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-116x120.jpg 116w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-278x287.jpg 278w, https://www.farmcrowdy.com/wp-content/uploads/2017/06/Julcit-Bali-48x50.jpg 48w" sizes="(max-width: 52px) 100vw, 52px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Julcit Bali, Abuja</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>The idea behind Farmcrowdy is quite good. It has the potential to create jobs for lots of people. It is very easy to do business with them because everything takes place online. I would recommend them to others. Word of advise: Please make it simpler to interact with an app.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="50" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM.jpg 479w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-276x300.jpg 276w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-30x33.jpg 30w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-55x60.jpg 55w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-110x120.jpg 110w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-264x287.jpg 264w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-8.39.20-AM-46x50.jpg 46w" sizes="(max-width: 50px) 100vw, 50px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Dr Anthony Oyekunle, Gaborone, Botswana</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>Farmcrowdy is an innovation that is out of this world. It is unique because of the coordination of its activities and regular update to sponsors. It took away the burden of supervision and monitoring from me and I would certainly recommend Farmcrowdy to others. My only regret is not investing more as a foundation member/sponsor.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="54" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/03/IMG_20160913_092257_edit-120x120-e1490254320595.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Chigozie Egbunefu, Port-Harcourt, </span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>A very competent and efficient business that does business with integrity. Their transparency and ease of communication made it easy for me to do business with them. I would recommend them to others because I have been treated well. Word of advice: Don't rest on your laurels.</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="49" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM.jpg 309w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-273x300.jpg 273w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-30x33.jpg 30w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-55x60.jpg 55w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-109x120.jpg 109w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-261x287.jpg 261w, https://www.farmcrowdy.com/wp-content/uploads/2017/03/Screen-Shot-2017-03-23-at-6.26.17-AM-45x50.jpg 45w" sizes="(max-width: 49px) 100vw, 49px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span> Inih Essien, Abuja</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>I love the personal touch. When you call they have information ready at hand, and when that information isn’t readily available Farmcrowdy staff gets back to you ASAP. They are also very open and transparent. Their data up to date!  Did I add how polite they are? Very polite! The transparency of the transaction made it very easy, before I had any questions the answers were sent to my email. for me this is an amazing way of growing a farming business without worrying about having green fingers, a great way of helping others, a way of saving (cause believe me when I say the returns came in handy)</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="50" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi.jpg 313w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-275x300.jpg 275w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-30x33.jpg 30w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-55x60.jpg 55w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-110x120.jpg 110w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-263x287.jpg 263w, https://www.farmcrowdy.com/wp-content/uploads/2016/12/Ajike-Sola-Adeniyi-46x50.jpg 46w" sizes="(max-width: 50px) 100vw, 50px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Ajike Sola-Adeniyi, Lagos</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
													<div class="slider__slide">
								<div class="slider__container">
									<div class="shell-wider">
										<div class="slider__slide-content">
											<div class="quote">
												<blockquote>
													<p>I saw Farmcrowdy on LinkedIn and visited the website. Chatted with a customer care representative and I got satisfactory answers to my questions. I am positively loving it and am rooting for them....Go, Farmcrowdy, Go!!!</p>
												</blockquote>

												<div class="quote-bar">
																											<figure class="quote-image">
															<img width="50" height="54" src="https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials.jpg" class="attachment-intro_testimonial size-intro_testimonial wp-post-image" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials.jpg 313w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-275x300.jpg 275w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-30x33.jpg 30w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-55x60.jpg 55w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-110x120.jpg 110w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-263x287.jpg 263w, https://www.farmcrowdy.com/wp-content/uploads/2016/11/farmcrowdy-testimonials-46x50.jpg 46w" sizes="(max-width: 50px) 100vw, 50px" />														</figure>
													
																											<div class="quote-cite">
															<p>
																<span>Regina Blankson</span>
																															</p>
														</div><!-- /.quote-cite -->
																									</div><!-- /.quote-bar -->
											</div><!-- /.quote -->
										</div><!-- /.slider__slide-content -->
									</div><!-- /.shell-wider -->
								</div><!-- /.slider__container -->
							</div><!-- /.slider__slide -->
															</div><!-- /.slider__slides -->
			</div><!-- /.slider__clip -->
		</div><!-- /.slider-testimonials -->
	
			<section class="section section-recognition">
			<div class="shell-wider">
									<h2 class="section-title">Recognition</h2><!-- /.section-title -->
				
				<ul class="articles-small">
											<li class="article-small">
							<a href="http://blog.farmcrowdy.com/national-productivity-award-2018/" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="305" height="123" src="https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2.jpg 305w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2-300x121.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2-82x33.jpg 82w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2-60x24.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2-120x48.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/npc_oma2018-2-124x50.jpg 124w" sizes="(max-width: 305px) 100vw, 305px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>AWARDEE</h5>

									<p>National Productivity Order of Merit Award 2018</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
											<li class="article-small">
							<a href="http://www.techstars.com/content/accelerators/introducing-2017-class-techstars-atlanta-partnership-cox-enterprises/" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="305" height="123" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM.png 305w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM-300x121.png 300w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM-82x33.png 82w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM-60x24.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM-120x48.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/Screen-Shot-2017-07-26-at-11.08.10-AM-124x50.png 124w" sizes="(max-width: 305px) 100vw, 305px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>SELECTED</h5>

									<p>One of 10 Global Start-ups in Techstars Atlanta 2017 Batch</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
											<li class="article-small">
							<a href="https://www.farmcrowdy.com/naa-farmcrowdy-agro-innovator-year/" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="147" height="103" src="https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2.png 147w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2-47x33.png 47w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2-60x42.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2-120x84.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/logo-image2-71x50.png 71w" sizes="(max-width: 147px) 100vw, 147px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>WINNER</h5>

									<p>Agro-Innovator of the Year 2016/2017</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
											<li class="article-small">
							<a href="https://www.farmcrowdy.com/farmcrowdy-among-top-25-innovative-companies/" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="132" height="107" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3.png 132w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3-41x33.png 41w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3-60x49.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3-120x97.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/logo-image3-62x50.png 62w" sizes="(max-width: 132px) 100vw, 132px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>NOMINEE</h5>

									<p>2017 BusinessDay Top 25 Most Innovative Companies &amp; Institutions</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
											<li class="article-small">
							<a href="http://www.nigeriatechnologyawards.com/2017-winners/#1471961703512-0456f4ab-c664" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="1274" height="516" src="https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards.jpg 1274w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-300x122.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-768x311.jpg 768w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-1024x415.jpg 1024w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-81x33.jpg 81w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-60x24.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-120x49.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-377x153.jpg 377w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-123x50.jpg 123w" sizes="(max-width: 1274px) 100vw, 1274px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>WINNER</h5>

									<p>Agric-Tech Website/Platform of the Year 2017</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
											<li class="article-small">
							<a href="http://www.nigeriatechnologyawards.com/2017-winners/#1471961703111-e16ab9b6-f803" target="_blank" class="article-inner">
								<figure class="article-image">
									<img width="1274" height="516" src="https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards.jpg 1274w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-300x122.jpg 300w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-768x311.jpg 768w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-1024x415.jpg 1024w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-81x33.jpg 81w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-60x24.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-120x49.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-377x153.jpg 377w, https://www.farmcrowdy.com/wp-content/uploads/2018/02/nita_awards-123x50.jpg 123w" sizes="(max-width: 1274px) 100vw, 1274px" />								</figure><!-- /.article-image -->

								<div class="article-content">
									<h5>WINNER</h5>

									<p>Tech Start-Up of the Year 2017</p>
								</div><!-- /.article-content -->
							</a>
						</li><!-- /.article-small -->
									</ul><!-- /.articles-small -->
			</div><!-- /.shell-wider -->
		</section><!-- /.section -->
	
			<section class="section section-solid section-slider-logos-small">
			<div class="shell-wider">
									<h2 class="section-title">As seen in</h2><!-- /.section-title -->
				
				<div class="slider-logos-small">
					<div class="slider__clip">
						<div class="slider__slides">
															<div class="slider__slide">
									<a href="https://www.bbc.com/news/av/stories-44126817/how-young-people-and-farmers-are-helping-each-other" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/bbcnews-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://punchng.com/feeding-nation-behind-computer-nigerias-new-generation-farmers-without-farms/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-punch-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://disrupt-africa.com/2017/02/nigerias-farmcrowdy-connects-farmers-with-sponsors/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/disrupt-farmcrowdy-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://techcabal.com/2016/11/29/building-nigerias-agric-sector-farmcrowdy/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techcabal-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://www.thisisafricaonline.com/News/Nigerian-agri-tech-platform-connects-farmers-to-local-investors" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/tia-farmcrowdy-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="https://venturesafrica.com/nigerias-first-digital-agriculture-platform-farmcrowdy-com-opens-shop/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article.jpg" class="attachment-full size-full" alt="farmcrowdy-ventures-africa" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-ventures-africa-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://thenationonlineng.net/farmcrowdy-introduces-digital-agriculture/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article.jpg" class="attachment-full size-full" alt="farmcrowdy-the-nation-newspaper" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-the-nation-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://techloy.com/2016/11/16/kongas-former-vp-of-marketing-onyeka-akumah-launches-agritech-platform-farmcrowdy/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techloy-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://techmoran.com/nigerias-farmcrowdy-com-wants-kickstarter-farmers/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-techmoran-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="https://www.businessdayonline.com/careful-planning-preparation-will-better-position-the-country-in-times-ahead/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/busines-day-farmcrowdy-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://innovation-village.com/onyeka-akumah-launches-farmcrowdy-nigerias-first-digital-agriculture-platform/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-innovation-village-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://pulse.ng/tech/farmcrowdy-you-can-now-run-a-farm-remotely-with-this-new-platform-id5766625.html" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-pulse-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://www.konbini.com/ng/lifestyle/farmcrowdy-is-letting-nigerians-farm-online/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-konbini-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://linkis.com/howng.com/HqCk7" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-how-nigeria-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="http://connectnigeria.com/articles/2016/11/business-profile-farmcrowdy-com/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/farmcrowdy-connect-nigeria-article-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="https://socialmediaweek.org/lagos/2017/03/02/technology-digital-tools-will-stimulate-agriculture-africa/" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/smw-farmcrowdy-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
															<div class="slider__slide">
									<a href="https://www02bbc02co02uk19vrvmw0.mentionusercontent.net/programmes/p04gccj6" target="_blank" class="slider__slide-image">
										<img width="184" height="66" src="https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview.jpg" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview.jpg 184w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview-92x33.jpg 92w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview-60x22.jpg 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview-120x43.jpg 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/06/BBC-World-Service-Farmcrowdy-Interview-139x50.jpg 139w" sizes="(max-width: 184px) 100vw, 184px" />									</a><!-- /.slider__slide-image -->
								</div><!-- /.slider__slide -->
													</div><!-- /.slider__slides -->
					</div><!-- /.slider__clip -->
				</div><!-- /.slider-logos-small -->
			</div><!-- /.shell-wider -->
		</section><!-- /.section section-solid -->
	
			<section class="section section-primary">
			<div class="shell-wider">
									<header class="section-head">
						<h2 class="section-title">Current Statistics</h2><!-- /.section-title -->
					</header><!-- /.section-head -->
				
				<div class="section-body">
					<ul class="stats">
													<li class="stat">
								<div class="stat-image">
									<img width="134" height="134" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6.png 134w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6-54x54.png 54w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6-33x33.png 33w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6-60x60.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6-120x120.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img6-50x50.png 50w" sizes="(max-width: 134px) 100vw, 134px" />								</div><!-- /.stat-image -->

								<h3>16,000+ Acres Available</h3>
							</li>
													<li class="stat">
								<div class="stat-image">
									<img width="134" height="134" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7.png 134w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7-54x54.png 54w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7-33x33.png 33w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7-60x60.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7-120x120.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img7-50x50.png 50w" sizes="(max-width: 134px) 100vw, 134px" />								</div><!-- /.stat-image -->

								<h3>11,000+ Farm<br />Sponsorships</h3>
							</li>
													<li class="stat">
								<div class="stat-image">
									<img width="134" height="134" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8.png 134w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8-54x54.png 54w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8-33x33.png 33w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8-60x60.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8-120x120.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img8-50x50.png 50w" sizes="(max-width: 134px) 100vw, 134px" />								</div><!-- /.stat-image -->

								<h3>7,000 Farmers</h3>
							</li>
													<li class="stat">
								<div class="stat-image">
									<img width="134" height="134" src="https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2.png 134w, https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2-54x54.png 54w, https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2-33x33.png 33w, https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2-60x60.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2-120x120.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2018/03/Poultry-Icon-2-50x50.png 50w" sizes="(max-width: 134px) 100vw, 134px" />								</div><!-- /.stat-image -->

								<h3>381,000+ Chickens<br />Reared</h3>
							</li>
													<li class="stat">
								<div class="stat-image">
									<img width="134" height="134" src="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10.png" class="attachment-full size-full" alt="" srcset="https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10.png 134w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10-54x54.png 54w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10-33x33.png 33w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10-60x60.png 60w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10-120x120.png 120w, https://www.farmcrowdy.com/wp-content/uploads/2016/08/stat-img10-50x50.png 50w" sizes="(max-width: 134px) 100vw, 134px" />								</div><!-- /.stat-image -->

								<h3>34,000+ Farm<br />Followers</h3>
							</li>
											</ul><!-- /.stats -->
				</div><!-- /.section-body -->
			</div><!-- /.shell-wider -->
		</section><!-- /.section section-primary -->
	</div><!-- /.main -->

				<footer class="footer">
			<div class="footer__inner">
				<div class="cols">
					<div class="col col-1of4">
						<a href="https://www.farmcrowdy.com/" class="logo-footer"></a>
						
													<p>Farmcrowdy is ending poverty in Africa,<br />
One Farmer at a Time.</p>
<p><a href="mailto:info@farmcrowdy.com">info@farmcrowdy.com</a><br />
<a href="tel:+234 (0) 907 579 1999">+234 (0) 907 579 1999</a><br />
<a href="tel:+234 (0) 909 999 9830">+234 (0) 909 999 9830</a><br />
<a href="tel:+234 (0) 906 223 5361">+234 (0) 906 223 5361</a><br />
<a href="tel:+234 (0) 703 746 8275">+234 (0) 703 746 8275</a></p>
<p>Copyright © 2018 FarmCrowdy. All rights reserved.</p>
												
						
						<div class="appiconsdiv">

						<a href="https://play.google.com/store/apps/details?id=com.farmcrowdyapp" target="_blank"><img src="https://www.farmcrowdy.com/wp-content/uploads/2017/12/gplaylogo.png" class="appicons" /></a>
						<span>&nbsp;</span>

						<a href="https://itunes.apple.com/us/app/farmcrowdy/id1316416568?mt=8&ign-mpt=uo%3D2" target="_blank"><img src="https://www.farmcrowdy.com/wp-content/uploads/2017/12/applelogo.png" class="appicons" /></a>
						</div>

						<div class="socials">
							<ul>
																	<li>
										<a href="https://www.facebook.com/farmcrowdy" target="_blank">
											<i class="fa fa-facebook-square"></i>
										</a>
									</li>
																	<li>
										<a href="https://twitter.com/farmcrowdy" target="_blank">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
																	<li>
										<a href="https://www.youtube.com/channel/UC6pFNkiAvTIUbRG8v-Js8gQ" target="_blank">
											<i class="fa fa-youtube"></i>
										</a>
									</li>
																	<li>
										<a href="https://www.instagram.com/farmcrowdyng/" target="_blank">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
																	<li>
										<a href="https://www.linkedin.com/company/10935988" target="_blank">
											<i class="fa fa-linkedin-square"></i>
										</a>
									</li>
															</ul>
						</div><!-- /.socials -->					

						<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=GshrnfPmrGSZA5lxTk4Y6TZTAI5q03d0yPFi7gmABn8aABg5jwDGNJaPcy21"></script></span>
					</div><!-- /.col col-1of4 -->
					
																		<div class="col col-1of4">
								<div id="nav_menu-2" class="footer-widget widget_nav_menu"><h3>Navigation</h3><div class="menu-navigation-menu-container"><ul id="menu-navigation-menu" class="menu"><li id="menu-item-7326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7326"><a href="https://www.farmcrowdy.com/media/team.html">About Us</a></li>
<li id="menu-item-7530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7530"><a href="https://www.farmcrowdy.com/farmshop/">Farmshop</a></li>
<li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a href="https://www.farmcrowdy.com/blog/">Blog</a></li>
<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="https://www.farmcrowdy.com/contact/">Contact</a></li>
<li id="menu-item-2096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2096"><a href="https://www.farmcrowdy.com/terms-of-sponsorship/">Terms of Sponsorship</a></li>
<li id="menu-item-2097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2097"><a href="https://www.farmcrowdy.com/terms-of-use/">Terms of use</a></li>
<li id="menu-item-2098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2098"><a href="https://www.farmcrowdy.com/privacy-policy/">Privacy Policy</a></li>
</ul></div></div><div id="nav_menu-3" class="footer-widget widget_nav_menu"><h3>Discover</h3><div class="menu-discover-menu-container"><ul id="menu-discover-menu" class="menu"><li id="menu-item-7318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7318"><a href="https://farmcrowdy.com/media/index.html">Media Resources</a></li>
<li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360"><a href="https://www.farmcrowdy.com/testimonials/">Testimonials</a></li>
<li id="menu-item-2099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2099"><a href="https://www.farmcrowdy.com/frequently-asked-questions/">FAQs</a></li>
<li id="menu-item-2100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2100"><a href="https://www.farmcrowdy.com/careers/">Careers</a></li>
</ul></div></div>							</div><!-- /.col col-1of4 -->
																								<div class="col col-1of4">
								<div id="carbon_latesttweets-2" class="footer-widget  carbon_latesttweets"><h3>Twitter Feed</h3>		<ul class="articles-short">
							<li class="article-short">
					<div class="article-inner">
						<figure class="article-image">
							<i class="ico-twitter"></i>
						</figure><!-- /.article-image -->
						<div class="article-content">
							<p>RT <a href="https://twitter.com/BBCAfrica" rel="nofollow" target="_blank">@BBCAfrica</a>: Check out how this smartphone startup in Nigeria is connecting farmers with investors, to help them scale up. <a href="https://t.co/o" target="_blank">https://t.co/o</a>…</p>
							<div class="article-meta">
								<p>11 hours ago</p>
							</div><!-- /.article-meta -->
						</div>
					</div>
				</li>
							<li class="article-short">
					<div class="article-inner">
						<figure class="article-image">
							<i class="ico-twitter"></i>
						</figure><!-- /.article-image -->
						<div class="article-content">
							<p>@andytgeezer Hello Andy, thank you for your comment. Yes you can. Please send an email to info<span>@farmcrowdy</span>.com if yo… <a href="https://t.co/ZpOwhvUWqG" target="_blank">https://t.co/ZpOwhvUWqG</a></p>
							<div class="article-meta">
								<p>19 hours ago</p>
							</div><!-- /.article-meta -->
						</div>
					</div>
				</li>
					</ul>
		</div>							</div><!-- /.col col-1of4 -->
																
											<div class="col col-1of4">
							<h3>Stay in the Loop</h3>

							<div class="subscribe">
								
                <div class='gf_browser_chrome gform_wrapper' id='gform_wrapper_1' ><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_1' id='gform_1'  action='/'>
                        <div class='gform_body'><ul id='gform_fields_1' class='gform_fields top_label form_sublabel_below description_below'><li id='field_1_1' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gfield-email gfield-medium' ><label class='gfield_label' for='input_1_1' >Sign up for exciting news<span class='gfield_required'>*</span></label><div class='ginput_container ginput_container_email'>
                            <input name='input_1' id='input_1_1' type='text' value='' class='medium' tabindex='1'   placeholder='Your email address' aria-required="true" aria-invalid="false"/>
                        </div></li>
                            </ul></div>
        <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_1' class='gform_button button' value='SUBSCRIBE' tabindex='2' onclick='if(window["gf_submitting_1"]){return false;}  window["gf_submitting_1"]=true;  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_1"]){return false;} window["gf_submitting_1"]=true;  jQuery("#gform_1").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=1&amp;title=&amp;description=&amp;tabindex=1' />
            <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />
            
            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
            <input type='hidden' class='gform_hidden' name='state_1' value='WyJbXSIsIjdiYTY2N2Y1NTU1YWZmMGNkZGZiM2JlNDEyNTgxMWM3Il0=' />
            <input type='hidden' class='gform_hidden' name='gform_target_page_number_1' id='gform_target_page_number_1' value='0' />
            <input type='hidden' class='gform_hidden' name='gform_source_page_number_1' id='gform_source_page_number_1' value='1' />
            <input type='hidden' name='gform_field_values' value='' />
            
        </div>
                        </form>
                        </div>
                <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_1' id='gform_ajax_frame_1'>This iframe contains the logic required to handle Ajax powered Gravity Forms.</iframe>
                <script type='text/javascript'>jQuery(document).ready(function($){gformInitSpinner( 1, 'https://www.farmcrowdy.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery('#gform_ajax_frame_1').load( function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_1');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_1').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;if(is_form){jQuery('#gform_wrapper_1').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_1').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_1').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */  }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_1').val();gformInitSpinner( 1, 'https://www.farmcrowdy.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery(document).trigger('gform_page_loaded', [1, current_page]);window['gf_submitting_1'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_1').replaceWith(confirmation_content);jQuery(document).trigger('gform_confirmation_loaded', [1]);window['gf_submitting_1'] = false;}, 50);}else{jQuery('#gform_1').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [1, current_page]);} );} );</script><script type='text/javascript'> if(typeof gf_global == 'undefined') var gf_global = {"gf_currency_config":{"name":"U.S. Dollar","symbol_left":"$","symbol_right":"","symbol_padding":"","thousand_separator":",","decimal_separator":".","decimals":2},"base_url":"https:\/\/www.farmcrowdy.com\/wp-content\/plugins\/gravityforms","number_formats":[],"spinnerUrl":"https:\/\/www.farmcrowdy.com\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"};jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 1) {if(typeof Placeholders != 'undefined'){
                        Placeholders.enable();
                    }} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );</script><script type='text/javascript'> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [1, 1]) } ); </script>							</div><!-- /.subscribe -->
						</div><!-- /.col col-1of4 -->
									</div><!-- /.cols -->
			</div><!-- /.footer__inner -->
				
			<section class="fixedbar">
<div class="boxfloat">


<div class="fixedbar-content">
 <h5 class="get-text">Get a Farm in Your Pocket </h5>
 <!-- <h5 class="download">Download the Farmcrowdy App</h5> -->



 <a href="https://play.google.com/store/apps/details?id=com.farmcrowdyapp" target="_blank"><img src="https://www.farmcrowdy.com/wp-content/uploads/2017/12/dlbtnn.png" class="gplay" /></a>
 <a href="https://itunes.apple.com/us/app/farmcrowdy/id1316416568?mt=8&ign-mpt=uo%3D2" target="_blank"><img src="https://www.farmcrowdy.com/wp-content/uploads/2017/12/applestore.png" class="gplay" /></a>
 

 </div>

 



<i class="fa fa-times-circle close-btn" aria-hidden="true"></i>

 
</div>
<section>

  <img src="https://www.farmcrowdy.com/wp-content/uploads/2017/12/phon.png" class="phon img-overlayed" />								</section>

								</section>
													

		</footer><!-- /.footer -->
	</div><!-- /.wrapper -->

	<!--Start of Tawk.to Script (0.3.3)-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{};
var Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57f2b99b8598f153810956f1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script (0.3.3)--><link rel='stylesheet' id='gforms_reset_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formreset.min.css?ver=2.2.5' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=2.2.5' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=2.2.5' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_browsers_css-css'  href='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/css/browsers.min.css?ver=2.2.5' type='text/css' media='all' />
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/comment-reply.min.js?ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-includes/js/wp-embed.min.js?ver=4.9.6'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.2.5'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.2.5'></script>
<script type='text/javascript' src='https://www.farmcrowdy.com/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=2.2.5'></script>
	
	<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 827170902;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/827170902/?guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh'},{'server':'a2plvcpnl44859'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>